<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data"/>
    </sectionGroup>
  </configSections>
  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>
        <add name="WandaJYZBConnectionString" connectionString="Data Source=192.168.50.72;Initial Catalog=jyzbgkxt_uat;User ID=sa;Password=ljth@1234" providerName="System.Data.SqlClient"/>
        <!--版本信息-->
        <!--<add name="CompileVersionConnection" connectionString="Data Source=10.199.200.14;Initial Catalog=SIT03;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
      </connectionStrings>
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="Lib.Data.OracleDatabase,Lib.Data.ODP"/>
        <add name="System.Data.OracleClient" type="Lib.Data.OracleDatabase,Lib.Data"/>
        <add name="System.Data.SqlClient" type="Lib.Data.SqlDatabase,Lib.Data"/>
      </dataProviders>
    </connectionManager>
  </mcs.data>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>