<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data"/>
    </sectionGroup>
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
     <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="false" />-->
    <!--<sectionGroup name="common">
       <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
     </sectionGroup>-->
    <section name="LightWorkflowSettings" type="Wanda.LightWorkflow.Configs.LightWorkflowSettings, Wanda.LightWorkflow"/>
  </configSections>
  <LightWorkflowSettings>
    <!--<DataExchangeProviderInfos>
    -->
    <!--<add key="BP01" value="Wanda.Financing.Bll.Workflow.NewDevPlanDataExchangeHandle, Wanda.Financing.Bll" />
    <add key="BP02" value="Wanda.Financing.Bll.Workflow.FinancingOutDataExchangeHandle, Wanda.Financing.Bll" />-->
    <!--
    </DataExchangeProviderInfos>-->
  </LightWorkflowSettings>
  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>
        <!--<add name="WandaWorkFlowConnectionString" connectionString="Data Source=10.199.200.57;Initial Catalog=WandaBudget;User ID=budgetsa;Password=sasa2gesa" providerName="System.Data.SqlClient" />-->
        <add name="WandaWorkFlowConnectionString" connectionString="Data Source=.;Initial Catalog=WandaWorkflow;User ID=sa;Password=sasa2gesa" providerName="System.Data.SqlClient"/>
      </connectionStrings>
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="Lib.Data.OracleDatabase,Lib.Data.ODP"/>
        <add name="System.Data.OracleClient" type="Lib.Data.OracleDatabase,Lib.Data"/>
        <add name="System.Data.SqlClient" type="Lib.Data.SqlDatabase,Lib.Data"/>
      </dataProviders>
    </connectionManager>
  </mcs.data>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>