<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <!--<section name="PermissionCenterSetting" type="Wanda.Platform.Permission.ClientComponent.PermissionCenterSDKConfigurationSection,Wanda.Platform.Permission.ClientComponent"/>-->
    <!--<sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data"/>
    </sectionGroup>-->
  </configSections>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Public/Login.aspx" name=".ASPXAUTH*" defaultUrl="~/index.html"/>-->
    </authentication>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" maxRequestLength="1048576" executionTimeout="3600"/>
    <!--IIS6-->
    <machineKey validationKey="683BFBC19825A3FC9E3779D6D89DCADDC25C2185" decryptionKey="9BFE89FA17784F558313B7A25551588710D5E8BC28FDB260" decryption="3DES"
      validation="SHA1"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="true" viewStateEncryptionMode="Always"/>
  </system.web>
  <system.webServer>
    <!--IIS7+-->
    <modules>
      <remove name="WebDAVModule"/>
      <remove name="AuthHttpModule"/>
      <add name="AuthHttpModule" type="Plugin.SSO.AuthModule, Plugin.SSO"/>
    </modules>
    <handlers>
      <remove name="UserSelectHandler.ashx"/>
      <remove name="UserSelectPCHandler.ashx"/>
      <remove name="CommonHandler.ashx"/>
      <remove name="ProcessHandler.ashx"/>
      <add name="UserSelectHandler.ashx" path="UserSelectHandler.ashx" verb="*" type="BPF.UserSelect.Client.UserSelectHandler, BPF.UserSelect.Client"/>
      <add name="UserSelectPCHandler.ashx" path="UserSelectPCHandler.ashx" verb="*" type="BPF.UserSelect.Client.UserSelectPCHandler, BPF.UserSelect.Client"/>
      <add name="CommonHandler.ashx" path="CommonHandler.ashx" verb="*" type="BPF.Workflow.Client.CommonHandler, BPF.Workflow.Client"/>
      <add name="ProcessHandler.ashx" path="ProcessHandler.ashx" verb="*" type="BPF.Workflow.Client.ProcessHandler, BPF.Workflow.Client"/>
    </handlers>
    <!-- 防止经典模式下面的配置集成模式的应用 -->
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <!--<add value="index.html"/>-->
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="ControllerAssemblies" value="LJTH.BusinessIndicators.Web.AjaxHandler"/>
    <!--新工作流核心服务-->
    <add key="WorkflowServerUrl" value="http://192.168.50.72:81"/>
    <add key="BPF.UserSelect.SYS_APPCODE" value="YY_ZBGK"/>
    <add key="BPF.UserSelect.SYS_USERSELECT_SERVERURL" value="http://192.168.50.72:81"/>
    <add key="BPF.UserSelect.SYS_USERSELECT_CACHESECONDS" value="3600"/>
    <add key="BPF.Workflow.WorkflowServerUrl" value="http://192.168.50.72:81"/>
    <add key="BPF.Workflow.ApplicationCode" value="YY_ZBGK"/>
    <add key="OA.PrivateKey" value="ljht123@"/>
    <!--本项目的流程编码-->
    <add key="ApplicationCode" value="YY_ZBGK"/>
    <add key=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>-->
</configuration>