<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="PermissionCenterSetting" type="Wanda.Platform.Permission.ClientComponent.PermissionCenterSDKConfigurationSection,Wanda.Platform.Permission.ClientComponent"/>-->
    <sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data"/>
    </sectionGroup>
  </configSections>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Public/Login.aspx" name=".ASPXAUTH*" defaultUrl="~/index.html"/>
    </authentication>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" maxRequestLength="1048576" executionTimeout="3600"/>
    <!--IIS6-->
    <httpModules>
      <!--<add name="AuthHttpModule" type="Plugin.SSO.AuthModule, Plugin.SSO"/>-->
    </httpModules>
    <httpHandlers>
      <!--选人控件-->
      <add path="UserSelectHandler.ashx" verb="*" type="BPF.UserSelect.Client.UserSelectHandler, BPF.UserSelect.Client"/>
      <add path="AvatarHandller.ashx" verb="*" type="Plugin.UserSelect.AvatarHandller, Plugin.UserSelect"/>
      
      <add verb="*" path="*.jx" type="Lib.Web.Mvc.JxMvcHttpHandler,Lib.Web"/>
      <add verb="*" path="*.jxhtml" type="Lib.Web.Mvc.JxMvcHttpHandler,Lib.Web"/>
      <add path="CommonHandler.ashx" verb="*" type="BPF.Workflow.Client.CommonHandler, BPF.Workflow.Client"/>
      <add path="ProcessHandler.ashx" verb="*" type="BPF.Workflow.Client.ProcessHandler, BPF.Workflow.Client"/>
    </httpHandlers>
    <machineKey validationKey="683BFBC19825A3FC9E3779D6D89DCADDC25C2185" decryptionKey="9BFE89FA17784F558313B7A25551588710D5E8BC28FDB260" decryption="3DES" validation="SHA1"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="true" viewStateEncryptionMode="Always"/>
  </system.web>
  <system.webServer>
    <!--IIS7+-->
    <modules>
      <add name="AuthHttpModule" type="Plugin.SSO.AuthModule, Plugin.SSO"/>
    </modules>
    <handlers>
      <add name="UserSelectHandler.ashx" path="UserSelectHandler.ashx" verb="*" type="BPF.UserSelect.Client.UserSelectHandler, BPF.UserSelect.Client" />
      <add name="UserSelectPCHandler.ashx" path="UserSelectPCHandler.ashx" verb="*" type="BPF.UserSelect.Client.UserSelectPCHandler, BPF.UserSelect.Client" />
      <add name="AvatarHandller.ashx" path="AvatarHandller.ashx" verb="*" type="Plugin.UserSelect.AvatarHandller, Plugin.UserSelect" />

      <add name="ajaxMvcHandler" path="*.jx" verb="*" type="Lib.Web.Mvc.JxMvcHttpHandler,Lib.Web" preCondition="integratedMode"/>
      <add name="ajaxMvcHandlerWatch" path="*.jxhtml" verb="*" type="Lib.Web.Mvc.JxMvcHttpHandler,Lib.Web" preCondition="integratedMode"/>
      <add name="CommonHandler.ashx" path="CommonHandler.ashx" verb="*" type="BPF.Workflow.Client.CommonHandler, BPF.Workflow.Client" />
      <add name="ProcessHandler.ashx" path="ProcessHandler.ashx" verb="*" type="BPF.Workflow.Client.ProcessHandler, BPF.Workflow.Client" />
    </handlers>
    <!-- 防止经典模式下面的配置集成模式的应用 -->
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>
        <!--<add name="WandaJYZBConnectionString" connectionString="Data Source=.;Initial Catalog=jyzbgkxt;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->

        <add name="WandaJYZBConnectionString" connectionString="Data Source=192.168.50.72;Initial Catalog=jyzbgkxt;User ID=sa;Password=ljth@1234" providerName="System.Data.SqlClient"/>
        <!--<add name="WandaJYZBConnectionString" connectionString="Data Source=wddb07.LJTH.cn;Initial Catalog=jyzbgkxt;User ID=jyzbgkxt_user;Password=1qaz@WSX" providerName="System.Data.SqlClient"/>-->
      </connectionStrings> 
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="Lib.Data.OracleDatabase,Lib.Data.ODP"/>
        <add name="System.Data.OracleClient" type="Lib.Data.OracleDatabase,Lib.Data"/>
        <add name="System.Data.SqlClient" type="Lib.Data.SqlDatabase,Lib.Data"/> 
      </dataProviders>
    </connectionManager>
  </mcs.data>

  <appSettings>
    <add key="EnabledSSO" value="false"/>
    <add key="forceMenuShow" value="true"/>
    <!--Ajax Controller regesion-->
    <add key="ControllerAssemblies" value="LJTH.BusinessIndicators.Web.AjaxHandler"/>
    <add key="EnableLogin" value="false"/>
    <!--net share-->


    <add key="FileServer_RemotePath" value="\\192.168.50.72\Excel"/>
    <add key="FileServer_LocalPath" value="\\192.168.50.72\Excel"/>
    <add key="FileServer_UserName" value="nas_user"/>
    <add key="FileServer_UserPassword" value="1234Qwer"/>
    <add key="UploadFilePath" value="C:\JYZBUpload"/>
    <add key="ExcelTempletePath" value="../Excel"/>

    <!--这个是未完成显示上月未完成的家数，特殊处理的 《万达旅业为代表的》-->
    <add key="MissTargetSystemName" value="万达旅业,酒馆系统,百货系统"/>
    
    <!--针对现在的百货系统-->
    <add key="MonthDescription" value="F69203F2-8702-41B8-96F6-A11AD86BA304"/>

    <!--针对现在的商管系统-->
    <add key="MonthSG" value="15EE2C18-5C7A-402E-92B8-277CFF78E210"/>
    
    <!--针对现在的商管系统的租金收缴率-->
    <add key="MonthSGRent" value="A79A8351-89E0-4F1A-B05E-70FF12209BCB"/>

    <!--针对现在的商管系统的大商业物管费收缴率-->
    <add key="MonthSGBigRent" value="D45F147A-0BD5-4CA7-85B1-13A954FC38B2"/>

    <!--针对下载未完成上报模版(误删)-->
    <add key="ExceptionSystem" value="D3FF44D6-4F81-4DF4-8A30-7785B3510022,15EE2C18-5C7A-402E-92B8-277CFF78E210"/>

    <!--针对SystemTree境内节点-->
    <add key="ProJN" value="F75E9317-D4A2-4FF4-AC76-0B0F70FD49DC"/>

    <!--针对万达电影国内院线-->
    <add key="MovieCN" value="885141E0-DC28-4C5A-92F0-03790D1AA8FA"/>

    <!--针对万达电影国内院线（票房收入）指标-->
    <add key="MovieCNpf" value="ACEA8CAB-95F0-46A6-83B0-2E7F25071160"/>
    
    <!--新工作流核心服务-->
    <add key="WorkflowServerUrl" value="http://192.168.50.72:81"/>

    <add key="BPF.UserSelect.SYS_APPCODE" value="YY_ZBGK" />
    <add key="BPF.UserSelect.SYS_USERSELECT_SERVERURL" value="http://192.168.50.72:81" />
    <add key="BPF.UserSelect.SYS_USERSELECT_CACHESECONDS" value="3600" />



    <add key="BPF.Workflow.WorkflowServerUrl" value="http://192.168.50.72:81" />
    <add key="BPF.Workflow.ApplicationCode" value="YY_ZBGK" />

    <add key="OA.PrivateKey" value="ljht123@" />

    <!--本项目的流程编码-->
    <add key="ApplicationCode" value="YY_ZBGK"/>
    <add key="PageSize" value="20"/>

    <!--模拟登录永华-->
    <add key="virtualUser" value="zhengguilong"/>

    <!--启用授权-->
    <add key="EnablePermission" value="false"/>
    <!--上报时间-->
    <add key="TestReportDateTime" value="2015-6"/>
    <!--启用上报日志(误删)-->
    <add key="MonthReportLog" value="True"/>
    <!--计划指标上报流程编码(误删)-->
    <add key="HideProcessCode" value="YY_WD-SYSTEM-JY-ZBLCSB"/>

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
