<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data"/>
    </sectionGroup>
    <section name="LoggingSettings" type="Lib.Log.LoggingSection, Lib.Core"/>
  </configSections>
  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>

        <!--测试环境连接字符串-->
        <add name="WandaJYZBConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=jyzbgkxt;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
      
      </connectionStrings>
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="Lib.Data.OracleDatabase,Lib.Data.ODP"/>
        <add name="System.Data.OracleClient" type="Lib.Data.OracleDatabase,Lib.Data"/>
        <add name="System.Data.SqlClient" type="Lib.Data.SqlDatabase,Lib.Data"/>
      </dataProviders>
    </connectionManager>
  </mcs.data>
  <appSettings>
    <!--新工作流核心服务-->
    <add key="WorkflowServerUrl" value="http://192.168.50.72:81"/>
    <!--本项目的流程编码-->
    <add key="ApplicationCode" value="YY_ZBGK"/>

    <add key="BPF.Workflow.WorkflowServerUrl" value="http://192.168.50.72:81" />
    <add key="BPF.Workflow.ApplicationCode" value="YY_ZBGK" />


    <!--设定发送信息时的语句,分段拼接 默认格式为"亲爱的用户,在a到b之间,x系统有y操作n个,有z操作m个...."  -->
    <add key="ContextFormatTime" value="亲爱的用户,在{0}到{1}之间,{2}"/>  <!--若为空,取默认值  {0}为起始时间,{1}为结束时间,{2}为系统名称-->
    <add key="ContextFormatValue" value="有{0}操作{1}个,"/>   <!--若为空,取默认值 {0}为操作名称 {1}为操作次数-->
    <!--设定发送消息时,每1小时发送一次的消息取的时间,单位为分钟(例如加入每1小时发送10分钟内的操作,value填写10).若为空,则默认为60-->
    <add key="duration" value="60"/>  <!-- CTX发送消息-->
    <add key="CheckTime" value=""/>

    <!--设定检查时间,每半个小时检查计划表的修改数据,单位为分钟(例如加入每1小时发送10分钟内的操作,value填写10).若为空,则默认为60-->
    <add key="RecalculationDuration" value="30"/>    
    <add key="virtualUser" value="zhengguilong"/>

  
    
    <add key="FileServer_RemotePath" value="\\10.199.200.139\Excel" />
    <add key="FileServer_LocalPath" value="C:\Excel" />
    <add key="FileServer_UserName" value="wanda\v_dubiao" />
    <add key="FileServer_UserPassword" value="1234qwer" />
    <add key="UploadFilePath" value="C:\JYZBUpload" />


    <!--这个是未完成显示上月未完成的家数，特殊处理的 《万达旅业为代表的》-->
    <add key="MissTargetSystemName" value="万达旅业,酒馆系统,百货系统" />
    
    <!--Aspose的证书地址-->
    <add key="AsposePath" value="\AsposePath\Aspose.Total.lic" />
    <!--excle的模版地址 -->
    <add key="ExcelTempletePath" value="\ExcelTmpl" />
    <!--excles生成存放地址, 这个最好是个绝对路径的地址，存放的地址 需要 FileServer_LocalPath 的配置的参数 来完成完成的路径-->
    <add key="ExcelFilePath" value="\DowExportFile" />  
    <!--图片存放地址 -->
    <add key="ImagesPath" value="\Images\images1" />

    <add key="JsonDataSwitch" value="true"/>
    
    
  </appSettings>

</configuration>