@charset "utf-8";

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

/*公用样式 */
/*面包屑导航*/
.bread_nav {
    background: url(../images/bread_nav.png) repeat-x;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #2f2f2f;
    padding-left: 10px;
}

.search_box {
    width: 98%;
}

.title_search {
    height: 30px;
    line-height: 30px;
}

    .title_search span {
        background: url(/Images/search.png) no-repeat;
        padding-left: 25px;
        font-size: 14px;
        font-weight: bold;
        font-family: "微软雅黑";
        color: #333;
    }

.con_search {
    border: 1px solid #ccc;
    border-top: 2px solid #025dac;
    background: #fdfbfb;
    padding: 10px;
}

.search_tab {
    width: 100%;
}

    .search_tab th, .search_tab td {
        padding: 5px;
    }

    .search_tab th {
        text-align: right;
    }

.search_btn a {
    background: url(/Images/btn_blue_l.png) left 50% no-repeat;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
}

    .search_btn a span {
        background: url(/Images/btn_blue_r.png) right 50% no-repeat;
        margin-left: 5px;
        padding-left: 15px;
        padding-right: 20px;
        display: inline-block;
        color: #fff;
    }

.search_line {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.search_btn_r {
    text-align: right;
}
/*页脚--版本*/
.version {
    float: right;
    padding-right: 10px;
    color: #fff;
}

/*图标*/
.icon01 {
    background: url(../images/icon/icon01.png) 45px 5px no-repeat !important;
}

.icon02 {
    background: url(../images/icon/icon02.png) 45px 5px no-repeat !important;
}

.icon03 {
    background: url(../images/icon/icon03.png) 45px 5px no-repeat !important;
}

.icon04 {
    background: url(../images/icon/icon04.png) 45px 5px no-repeat !important;
}

.icon10 {
    background: url(../images/icon/icon10.png) 0 0px no-repeat !important;
    padding-left: 20px;
}

.icon11 {
    background: url(../images/icon/icon11.png) 0 0px no-repeat !important;
    padding-left: 20px;
}

.icon13 {
    background: url(../images/icon/icon13.png) 0 0px no-repeat !important;
    padding-left: 20px;
}


/*右侧内容*/
.title {
    background: url(../images/icon/icon16.png) 10px 12px no-repeat;
    height: 34px;
    line-height: 34px;
    padding-left: 20px;
}

.IndexTitle {
    height: 34px;
    line-height: 34px;
    padding-left: 30px;
}

    .IndexTitle span {
        color: #015aa5;
        font-size: 14px;
        font-weight: bold;
    }

.title span {
    color: #015aa5;
    font-size: 14px;
    font-weight: bold;
}

.circle {
    padding-left: 15px;
}

/*圆角外框-01*/
.search_t {
    background: url(../images/search_t_l.png) left no-repeat;
    width: 100%;
    height: 5px;
}

    .search_t span {
        background: url(../images/search_t_r.png) right no-repeat;
        height: 5px;
        margin-left: 5px;
        display: inline-block;
        width: 99.7%;
    }

.search_m {
    border: 1px solid #cccccc;
    border-top: 0;
    border-bottom: 0;
    width: 100%;
}

.search_b {
    background: url(../images/search_b_l.png) left no-repeat;
    width: 100%;
    height: 5px;
}

    .search_b span {
        background: url(../images/search_b_r.png) right no-repeat;
        height: 5px;
        margin-left: 5px;
        display: inline-block;
        width: 99.7%;
    }

/*圆角外框-02*/
.warp_title {
    height: 25px;
    padding-left: 15px;
    position: relative;
    top: 1px;
    left: 0px;
}

    .warp_title a {
        background: url(../images/warp_l.png) left no-repeat;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
    }

        .warp_title a span {
            background: url(../images/warp_r.png) right no-repeat;
            height: 25px;
            line-height: 25px;
            margin-left: 5px;
            padding: 0 15px 0 8px;
            display: inline-block;
            color: #333;
        }

.warp_border {
    border: 1px solid #b5ccde;
}

/*按钮位置*/
.btn_blue_position {
    float: right;
}

/*按钮*/
.btn {
    height: 24px;
    border: 0;
}

    .btn a {
        background: url(../images/btn_gray_l.png) left no-repeat;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }

        .btn a span {
            background: url(../images/btn_gray_r.png) right no-repeat;
            height: 24px;
            line-height: 24px;
            margin-left: 5px;
            padding: 0 10px 0 2px;
            display: inline-block;
            color: #666;
            cursor: pointer;
        }

.btn_blue a {
    background: url(../images/btn_blue_l.png) left no-repeat;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 0 !important;
}

    .btn_blue a span {
        background: url(../images/btn_blue_r.png) right no-repeat;
        height: 24px;
        line-height: 24px;
        margin-left: 5px;
        padding: 0 10px 0 2px;
        display: inline-block;
        color: #fff;
        cursor: pointer;
    }

        .btn_blue a span b {
            color: #fff;
        }

a.btn_orange {
    color: #ee8306;
    cursor: pointer;
    text-decoration: none;
}

    a.btn_orange:hover {
        text-decoration: underline;
    }

input.issuebtn {
    border-top: 0px;
    height: 24px;
    border-right: 0px;
    background: url(../images/btn_blue.png) no-repeat;
    border-bottom: 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 12px 12px 12px 0px;
    border-left: 0px;
    display: inline-block;
    line-height: 24px;
    width: 63px;
    cursor: pointer;
}

input.issuebtn1 {
    border-top: 0px;
    height: 24px;
    border-right: 0px;
    background: url(../images/btn_blue.png) no-repeat;
    border-bottom: 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    border-left: 0px;
    display: inline-block;
    line-height: 24px;
    width: 63px;
    cursor: pointer;
}

a.tips_orange {
    color: #ee8306;
    cursor: pointer;
    text-decoration: none;
}

/*横向列表*/
ul.horizon {
    border: 1px solid #c8c8c8;
    overflow: hidden;
    width: 430px;
    display: block;
}

    ul.horizon > li {
        display: inline-block;
        border: none;
        border-left: 1px solid #c8c8c8;
        width: 48px;
        padding: 4px 6px;
    }

        ul.horizon > li:last-child {
            border: none;
        }

        ul.horizon > li.li1 {
        }

        ul.horizon > li.li2 {
        }

        ul.horizon > li.li3 {
        }



ul.ulGroup li {
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 20px;
    overflow: hidden;
}

ul.ulGroupPrivilege li {
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: auto;
    overflow: hidden;
    vertical-align: top;
}

/*表格公用*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 5px;
}

/*水平行表格*/
table.horizon {
    border: 1px dotted #c8c8c8;
}

    table.horizon td {
        border: 1px dotted #c8c8c8;
    }

/*表格--查询*/
.noboder_tab th, .noboder_tab td {
}

.noboder_tab th {
    text-align: right;
}

table.tab_search {
    table-layout: fixed;
}

    table.tab_search tr {
        height: 20px;
    }

    table.tab_search th {
        width: 10%;
        font-weight: bold;
        text-align: right;
    }

    table.tab_search td {
        width: 17%;
    }

        table.tab_search td.btnTd {
            width: 13%;
            border-left: 1px dashed #cccccc;
        }

    table.tab_search input[type=text] {
        width: 90%;
    }

    table.tab_search select {
        width: 90%;
    }

/*表格--折叠*/
.cuttle_tab thead, .cuttle_tab tfoot {
    background: url(../images/thead_bg.png) repeat-x;
    height: 28px;
}

.cuttle_tab th, .cuttle_tab td {
    border: 1px solid #82aaca;
}

.cuttle_tab img {
    padding: 0 5px 0 0;
}


.one_level, .tr_level1 {
    background: #b2d8f8;
}

.two_level, .tr_level2 {
    background: #d9ecfc;
}

.three_level, .tr_level3 {
    background: #f2f8fe;
}

.four_level, .tr_level4 {
    background: #fcf8fe;
}

.five_level, .tr_level5 {
    background: #fffffe;
}

.tr_level6, .tr_level7, .tr_level8, .tr_level9 {
    background: #ffffff;
}

.tr_level2 .indent {
    padding-left: 20px;
}

.tr_level3 .indent {
    padding-left: 35px;
}

.tr_level4 .indent {
    padding-left: 50px;
}

.tr_level5 .indent {
    padding-left: 65px;
}

.tr_level6 .indent {
    padding-left: 80px;
}

.tr_level7 .indent {
    padding-left: 95px;
}

.tr_level8 .indent {
    padding-left: 110px;
}

.tr_level9 .indent {
    padding-left: 125px;
}

.curser {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.fontspace30 {
    display: inline-block;
    width: 30px;
}

.fontspace25 {
    display: inline-block;
    width: 25px;
    text-align: right;
}

/*表格--隔行换色*/
.AlternateColor_tab thead th, .AlternateColor_tab tfoot td, .AlternateColor_tab .thead th {
    background: url(../images/thead_bg.png) bottom repeat-x;
}

.AlternateColor_tab th, .AlternateColor_tab td {
    border: 1px solid #b5ccde;
    text-align: center;
}

     td .num {
        display: inline-block;
        width: 80%;
        text-align: right;
    }

     td .num40p {
        display: inline-block;
        width: 40%;
        text-align: right;
    }

.AlternateColor_tab tbody tr:nth-child(odd) {
    background-color: #fff;
}

.AlternateColor_tab tbody tr:nth-child(even) {
    background-color: #eef3fa;
}
/*翻页*/
.pagination {
    text-align: right;
    background-color: rgb(207, 207, 207);
}

    .pagination td {
        text-align: right;
        padding: 5px;
    }

    .pagination img {
        position: relative;
        top: 4px;
        cursor: pointer;
    }

    .pagination a {
        padding: 0 5px;
        color: #1765a2;
    }

    .pagination .numBox {
        width: 20px;
    }

    .pagination .border_line {
        border: 1px solid #ccc;
        margin: 0 2px;
        background: #fff;
        cursor: pointer;
    }

    .pagination .go {
        height: 22px;
        padding-bottom: 2px;
        background: url(../images/go_bg.png) no-repeat;
        border: 0;
        width: 26px;
    }

        .pagination .go:hover {
            background: url(../images/go_bg_hover.png) no-repeat;
        }

/*间距*/
.padding_l10_r10 {
    padding: 0 10px;
}

.padding_10 {
    padding: 10px;
}

.maxh400 {
    max-height: 400px;
}

.margin_t10 {
    margin-top: 10px;
}

.margin_b8 {
    margin-bottom: 8px;
}

.margin_t5_b5 {
    margin: 5px 0;
}

.margin_l10_r10 {
    margin: 0 10px;
}

.margin_r10 {
    margin: 0 10px 0px 0px;
}

.overflow {
    overflow-y: scroll;
}
/*input、texare*/
.w6 {
    width: 6px;
}

.w10 {
    width: 10px;
}

.w15 {
    width: 15px;
}

.w20 {
    width: 20px;
}

.w40 {
    width: 40px;
}

.w60 {
    width: 60px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}


.w6p {
    width: 6%;
}

.w8p {
    width: 8%;
}

.w10p {
    width: 10%;
}

.w12p {
    width: 12%;
}

.w13p {
    width: 13%;
}

.w14p {
    width: 14%;
}

.w16p {
    width: 16%;
}

.w18p {
    width: 18%;
}

.w20p {
    width: 20%;
}

.w21p {
    width: 21%;
}

.w23p {
    width: 23%;
}

.w25p {
    width: 25%;
}

.w30p {
    width: 30%;
}

.w35p {
    width: 35%;
}

.w38p {
    width: 38%;
}

.w40p {
    width: 40%;
}

.w50p {
    width: 50%;
}

.w60p {
    width: 60%;
}

.w70p {
    width: 70%;
}

.w75p {
    width: 75%;
}

.w80p {
    width: 80%;
}

.w85p {
    width: 85%;
}

.w90p {
    width: 90%;
}

.w97p {
    width: 97%;
}

.w100p {
    width: 100%;
}

input[type=radio] {
    padding: 0 5px;
}

.max1000 {
}
/*对齐方式*/
th.align_l {
    text-align: left !important;
}

td.align_l {
    text-align: left !important;
}

.align_c {
    text-align: center !important;
}

.align_l {
    text-align: left !important;
}

td.align_r {
    text-align: right !important;
}

th.align_r {
    text-align: right !important;
}

.align_r {
    text-align: right !important;
}

.inline {
    display: inline;
}
/*底端加虚线*/
.bottom_line {
    border-bottom: 1px solid #b5ccde;
}

/*字体颜色*/
.txt_orange {
    color: #ee8306 !important;
}
/*隔行颜色*/
.trgehang {
    background-color: #EEF3FA;
}

______________________________________________________________
/*滑动门*/
.preview li, .preview02 li {
    list-style-type: none;
}

.preview {
    margin: 10px;
    padding: 0px;
    overflow: hidden;
}

.preview02 {
    margin: 0;
    overflow: hidden;
}

.cont {
    padding: 10px;
}

.cls {
    clear: both;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.scrolldoorFrame {
    width: 100%;
    margin: 0px auto 0px 0px;
    overflow: hidden;
}

.scrollUl {
    border-bottom: 0px solid #CCC;
    overflow: hidden;
    height: 24px;
    padding-left: 10px;
    margin: 0;
}

    .scrollUl li {
        float: left;
    }

.bor03 {
    border: 1px solid #418cd0;
}

.sd {
    cursor: pointer;
    border: 0;
}

    .sd a {
        background: url(../images/tab01_l.png) left no-repeat;
        height: 24px;
        padding: 0 5px;
        display: block;
        line-height: 24px;
    }

        .sd a span {
            background: url(../images/tab01_r.png) right no-repeat;
            height: 24px;
            display: inline-block;
            padding-right: 5px;
            line-height: 24px;
            padding: 0 15px 0 10px;
            color: #666;
            font-size: 14px;
        }

.select a {
    background: url(../images/tab_l.png) left no-repeat;
    height: 24px;
    padding: 0 5px;
    display: block;
    line-height: 24px;
}

    .select a span {
        background: url(../images/tab_r.png) right no-repeat;
        height: 24px;
        display: inline-block;
        padding-right: 5px;
        line-height: 24px;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }

.bg_t {
    background: url(../images/bg_top.png) top repeat-x;
    height: 8px;
}

.bg_b {
    background: url(../images/bg_bottom.png) bottom repeat-x;
    height: 8px;
}

.bg_m {
    padding: 10px;
}

.bg_m02 {
    padding: 0;
}

.bg_m h1 {
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #005bac;
}


.padding_11 {
    padding: 10px;
    max-height: none;
}

.readonly {
    border: none;
}

.numOnly {
    padding-right: 2px 4px;
}

.numR {
    text-align: right;
    padding-right: 4px;
}


/**/


[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}


.icon-white {
    background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass {
    background-position: 0 0;
}

.icon-music {
    background-position: -24px 0;
}

.icon-search {
    background-position: -48px 0;
}

.icon-envelope {
    background-position: -72px 0;
}

.icon-heart {
    background-position: -96px 0;
}

.icon-star {
    background-position: -120px 0;
}

.icon-star-empty {
    background-position: -144px 0;
}

.icon-user {
    background-position: -168px 2px;
}

.icon-film {
    background-position: -192px 0;
}

.icon-th-large {
    background-position: -216px 0;
}

.icon-th {
    background-position: -240px 0;
}

.icon-th-list {
    background-position: -264px 0;
}

.icon-ok {
    background-position: -288px 0;
}

.icon-remove {
    background-position: -312px 0;
}

.icon-zoom-in {
    background-position: -336px 0;
}

.icon-zoom-out {
    background-position: -360px 0;
}

.icon-off {
    background-position: -384px 0;
}

.icon-signal {
    background-position: -408px 0;
}

.icon-cog {
    background-position: -432px 0;
}

.icon-trash {
    background-position: -456px 0;
}

.icon-home {
    background-position: 0 -24px;
}

.icon-file {
    background-position: -24px -24px;
}

.icon-time {
    background-position: -48px -24px;
}

.icon-road {
    background-position: -72px -24px;
}

.icon-download-alt {
    background-position: -96px -24px;
}

.icon-download {
    background-position: -120px -24px;
}

.icon-upload {
    background-position: -144px -24px;
}

.icon-inbox {
    background-position: -168px -24px;
}

.icon-play-circle {
    background-position: -192px -24px;
}

.icon-repeat {
    background-position: -216px -24px;
}

.icon-refresh {
    background-position: -240px -24px;
}

.icon-list-alt {
    background-position: -264px -24px;
}

.icon-lock {
    background-position: -287px -24px;
}

.icon-flag {
    background-position: -312px -24px;
}

.icon-headphones {
    background-position: -336px -24px;
}

.icon-volume-off {
    background-position: -360px -24px;
}

.icon-volume-down {
    background-position: -384px -24px;
}

.icon-volume-up {
    background-position: -408px -24px;
}

.icon-qrcode {
    background-position: -432px -24px;
}

.icon-barcode {
    background-position: -456px -24px;
}

.icon-tag {
    background-position: 0 -48px;
}

.icon-tags {
    background-position: -25px -48px;
}

.icon-book {
    background-position: -48px -48px;
}

.icon-bookmark {
    background-position: -72px -48px;
}

.icon-print {
    background-position: -96px -48px;
}

.icon-camera {
    background-position: -120px -48px;
}

.icon-font {
    background-position: -144px -48px;
}

.icon-bold {
    background-position: -167px -48px;
}

.icon-italic {
    background-position: -192px -48px;
}

.icon-text-height {
    background-position: -216px -48px;
}

.icon-text-width {
    background-position: -240px -48px;
}

.icon-align-left {
    background-position: -264px -48px;
}

.icon-align-center {
    background-position: -288px -48px;
}

.icon-align-right {
    background-position: -312px -48px;
}

.icon-align-justify {
    background-position: -336px -48px;
}

.icon-list {
    background-position: -360px -48px;
}

.icon-indent-left {
    background-position: -384px -48px;
}

.icon-indent-right {
    background-position: -408px -48px;
}

.icon-facetime-video {
    background-position: -432px -48px;
}

.icon-picture {
    background-position: -456px -48px;
}

.icon-pencil {
    background-position: 0 -72px;
}

.icon-map-marker {
    background-position: -24px -72px;
}

.icon-adjust {
    background-position: -48px -72px;
}

.icon-tint {
    background-position: -72px -72px;
}

.icon-edit {
    background-position: -96px -72px;
}

.icon-share {
    background-position: -120px -72px;
}

.icon-check {
    background-position: -144px -72px;
}

.icon-move {
    background-position: -168px -72px;
}

.icon-step-backward {
    background-position: -192px -72px;
}

.icon-fast-backward {
    background-position: -216px -72px;
}

.icon-backward {
    background-position: -240px -72px;
}

.icon-play {
    background-position: -264px -72px;
}

.icon-pause {
    background-position: -288px -72px;
}

.icon-stop {
    background-position: -312px -72px;
}

.icon-forward {
    background-position: -336px -72px;
}

.icon-fast-forward {
    background-position: -360px -72px;
}

.icon-step-forward {
    background-position: -384px -72px;
}

.icon-eject {
    background-position: -408px -72px;
}

.icon-chevron-left {
    background-position: -432px -72px;
}

.icon-chevron-right {
    background-position: -456px -72px;
}

.icon-plus-sign {
    background-position: 0 -96px;
}

.icon-minus-sign {
    background-position: -24px -96px;
}

.icon-remove-sign {
    background-position: -48px -96px;
}

.icon-ok-sign {
    background-position: -72px -96px;
}

.icon-question-sign {
    background-position: -96px -96px;
}

.icon-info-sign {
    background-position: -120px -96px;
}

.icon-screenshot {
    background-position: -144px -96px;
}

.icon-remove-circle {
    background-position: -168px -96px;
}

.icon-ok-circle {
    background-position: -192px -96px;
}

.icon-ban-circle {
    background-position: -216px -96px;
}

.icon-arrow-left {
    background-position: -240px -96px;
}

.icon-arrow-right {
    background-position: -264px -96px;
}

.icon-arrow-up {
    background-position: -289px -96px;
}

.icon-arrow-down {
    background-position: -312px -96px;
}

.icon-share-alt {
    background-position: -336px -96px;
}

.icon-resize-full {
    background-position: -360px -96px;
}

.icon-resize-small {
    background-position: -384px -96px;
}

.icon-plus, .icon-collapsed {
    background-position: -408px -96px;
}

.icon-minus, .icon-expanded {
    background-position: -433px -96px;
}

.icon-asterisk {
    background-position: -456px -96px;
}

.icon-exclamation-sign {
    background-position: 0 -120px;
}

.icon-gift {
    background-position: -24px -120px;
}

.icon-leaf {
    background-position: -48px -120px;
}

.icon-fire {
    background-position: -72px -120px;
}

.icon-eye-open {
    background-position: -96px -120px;
}

.icon-eye-close {
    background-position: -120px -120px;
}

.icon-warning-sign {
    background-position: -144px -120px;
}

.icon-plane {
    background-position: -168px -120px;
}

.icon-calendar {
    background-position: -192px -120px;
}

.icon-random {
    width: 16px;
    background-position: -216px -120px;
}

.icon-comment {
    background-position: -240px -120px;
}

.icon-magnet {
    background-position: -264px -120px;
}

.icon-chevron-up {
    background-position: -288px -120px;
}

.icon-chevron-down {
    background-position: -313px -119px;
}

.icon-retweet {
    background-position: -336px -120px;
}

.icon-shopping-cart {
    background-position: -360px -120px;
}

.icon-folder-close {
    width: 16px;
    background-position: -384px -120px;
}

.icon-folder-open {
    width: 16px;
    background-position: -408px -120px;
}

.icon-resize-vertical {
    background-position: -432px -119px;
}

.icon-resize-horizontal {
    background-position: -456px -118px;
}

.icon-hdd {
    background-position: 0 -144px;
}

.icon-bullhorn {
    background-position: -24px -144px;
}

.icon-bell {
    background-position: -48px -144px;
}

.icon-certificate {
    background-position: -72px -144px;
}

.icon-thumbs-up {
    background-position: -96px -144px;
}

.icon-thumbs-down {
    background-position: -120px -144px;
}

.icon-hand-right {
    background-position: -144px -144px;
}

.icon-hand-left {
    background-position: -168px -144px;
}

.icon-hand-up {
    background-position: -192px -144px;
}

.icon-hand-down {
    background-position: -216px -144px;
}

.icon-circle-arrow-right {
    background-position: -240px -144px;
}

.icon-circle-arrow-left {
    background-position: -264px -144px;
}

.icon-circle-arrow-up {
    background-position: -288px -144px;
}

.icon-circle-arrow-down {
    background-position: -312px -144px;
}

.icon-globe {
    background-position: -336px -144px;
}

.icon-wrench {
    background-position: -360px -144px;
}

.icon-tasks {
    background-position: -384px -144px;
}

.icon-filter {
    background-position: -408px -144px;
}

.icon-briefcase {
    background-position: -432px -144px;
}

.icon-fullscreen {
    background-position: -456px -144px;
}

.icon-dept {
    background-image:url(/images/dept.png);

}
/***/
.chart_box {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    margin: 10px 20px;
    margin-right: 0px;
    -moz-border-radius: 6px; /* Gecko browsers */
    -webkit-border-radius: 6px; /* Webkit browsers */
    border-radius: 6px; /* W3C syntax */
}

input[type=text].validate_error,
textarea.validate_error,
div.validate_error {
    border: 1px solid #fa0606;
}

    input[type=text].validate_error:focus,
    textarea.validate_error:focus {
        border-color: #953b39;
        -webkit-box-shadow: 0 0 6px #d59392;
        -moz-box-shadow: 0 0 6px #d59392;
        box-shadow: 0 0 6px #d59392;
    }

td div.td_2ndRow {
    margin-top: 8px;
    text-align: left;
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    /*padding-left: 16px;*/
}

.identity {
    margin: 0px 2px;
}

.more {
    background: url(../images/icon/more.png) 0 4px no-repeat !important;
    padding-left: 18px;
}
/*关闭、展开*/
.closeAndspread ul li {
    float: right;
    margin-right: 5px;
    background: url(../images/spread2.png) 0 3px no-repeat;
    padding-left: 25px;
    line-height: 25px;
    height: 25px;
}

.spread {
    background: url(../images/spread2.png) 0 3px no-repeat;
}

.closed {
    background: url(../images/closed2.png) 0 3px no-repeat;
}

/*排序图标*/
th.sort a {
    font-weight: bold;
    color: #1d72cf;
    text-decoration: none;
}

/*th.sortUp a.sort { background: url(../images/reorder_up.png) no-repeat;}
th.sortDown a.sort { background: url(../images/reorder_down.png) no-repeat;}*/


input.userinput {
    border: 1px solid #000;
    border-right: 0;
}

    input.userinput[disabled] {
        background-color: #fff;
    }


i.userinput {
    border: 1px solid #000;
    border-left: 0;
    vertical-align: bottom;
    padding-bottom: 1px;
    position:relative;left:-1px;
}
.borderfont{ font-size:13px;font-weight:bold}