.form_title { background:url(../../Images/biaodan_title.gif) left top no-repeat; width:980px; height:35px; margin:0 auto;}

.form_title h2 { color:#fff; font-size:14px; padding-left:45px; line-height:35px;}