<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Plugin.OAMessage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 生产环境 -->
    <!--<add key="ActivceMQ" value="failover:(tcp://mq1.wanda.cn:61616,tcp://mq2.wanda.cn:61616)?randomize=false&amp;initialReconnectDelay=100&amp;maxReconnectAttempts=5" />-->
    <!-- 测试环境 -->
    <add key="ActivceMQ" value="failover:(tcp://oadev1.wanda-dev.cn:61616)?initialReconnectDelay=100&amp;maxReconnectAttempts=5"/>
    <add key="ActivceMQ_ClientId" value="Receive_GeneralData_Servlet"/>
    <add key="ActivceMQ_TopicName" value="GeneralInfo"/>
    <!-- 每次发送时获取的记录条数 -->
    <add key="ActivceMQ_SendCount" value="20"/>
    <!-- 每次执行发生时，延迟多久执行一下次 -->
    <add key="IntervalSeconds" value="10"/>
    <!-- 发送失败时的重试次数，每10秒重试一次，大约半天多就会重试过期 -->
    <add key="ActivceMQ_ErrorCount" value="5000"/>

    <!-- 发生模式，0：早期的应用不使用SenderCode，根据ActivceMQ_TopicName确定应用；1：使用配置文件中的SenderCode值；2：使用数据库表中的SenderCode值 -->
    <add key="SendMode" value="2"/>
    <!-- MQ对应系统的专用编码，该编码需要联系OA-MQ负责人进行申请后才可使用，否则待办不生效。如果配置为空，表明使用数据库中的对应字段数据。（旧版没有）-->
    <add key="SenderCode" value=""/>
    <!--默认的数据库连接名称  -->
    <add key="defaultDatabase" value="OAMQ_SQLServer"/>


    <!--LJTHOA配置信息-->
    <add key="OA.SysCode" value="JYZBGK" />
    <add key="OA.PrivateKey" value="ljht123@" />

    <add key="WebURL" value="http://192.168.50.72:83"/>

  </appSettings>

  <applicationSettings>
    <Plugin.OAMessage.Properties.Settings>
      <setting name="Plugin_OAMessage_OAMessage_WebServices_OfsTodoDataWebService" serializeAs="String">
        <value>http://192.168.50.118//services/OfsTodoDataWebService</value>
      </setting>
    </Plugin.OAMessage.Properties.Settings>

  </applicationSettings>

  <connectionStrings>
    <!--SQLServer相关配置-->
    <add name="OAMQ_SQLServer" connectionString="Data Source=192.168.50.72;User ID=sa;Password=ljth@1234;Persist Security Info=False;Initial Catalog=wf_zbgk;Connect Timeout=40;" providerName="System.Data.SqlClient"/>
    <!--Oracle相关配置，需要安装Oracle相关客户端-->
    <add name="OAMQ_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.199.201.19)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=oatest)));User Id=wandaoa2;Password=1;PERSIST SECURITY INFO=True;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
