@charset "utf-8";
/* 布局 */
*{margin:0;padding:0;font-size:12px;font-family:"微软雅黑",Arial, Helvetica, sans-serif;}

.Pagebox { min-height:746px;}
ul{list-style:none;marin:0;padding:0;}
a,a:link{color:#333;text-decoration:none;}
a:visited{coloer:#666;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}

.footer{background:url(../images/footer_bg.png) repeat-x;height:31px;line-height:29px;color:#333;font-weight:700;text-align:center;}

