.fm {
	BORDER-TOP: 0px; HEIGHT: 27px; BORDER-RIGHT: 0px; WIDTH: 100%; MARGIN-TOP: 0px; BORDER-BOTTOM: 0px; POSITION: absolute; LEFT: 0px; BORDER-LEFT: 0px; Z-INDEX: 100; LINE-HEIGHT: 27px; TOP: -1px
}
.fm A:hover {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm A:visited {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm A:link {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm-bar {
	HEIGHT: 27px; WIDTH: 770px; FLOAT: right; LINE-HEIGHT: 27px
}
.fm-switch {
	CURSOR: pointer; HEIGHT: 27px; WIDTH: 97px; VERTICAL-ALIGN: middle; FLOAT: right; LINE-HEIGHT: 27px
}
.fm-switch-profile {
	FONT-SIZE: 0px; HEIGHT: 0px; FLOAT: right; TEXT-ALIGN: center; CLEAR: both; DISPLAY: block; LINE-HEIGHT: 0
}
.fm-menu-right-close {
	FONT-SIZE: 12px; CURSOR: pointer; HEIGHT: 27px; WIDTH: 72px; BACKGROUND-IMAGE: url(https://sso.wanda.cn/Images/close_bg.gif); MARGIN-TOP: 0px; FLOAT: right; COLOR: white; TEXT-ALIGN: center; LINE-HEIGHT: 27px
}
.fm-switch-navigate {
	HEIGHT: 27px; WIDTH: 97px; BACKGROUND-IMAGE: url(https://sso.wanda.cn/Images/contraction.gif); MARGIN-TOP: 0px; FLOAT: left; COLOR: white; LINE-HEIGHT: 27px
}
.fm-switch-navigate SPAN {
	WIDTH: 55px; TEXT-ALIGN: center; MARGIN-LEFT: 33px; DISPLAY: block
}
.fm-logo-left {
	CURSOR: pointer; HEIGHT: 27px; WIDTH: 28px; BACKGROUND: url(https://sso.wanda.cn/Images/close.gif) no-repeat 0px 0px; MARGIN-TOP: 0px; POSITION: relative; FLOAT: left; LINE-HEIGHT: 27px; TOP: 0px; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-logo {
	HEIGHT: 25px; WIDTH: 110px; BACKGROUND: url(https://sso.wanda.cn/Images/logo.gif) no-repeat 0px 0px; POSITION: relative; FLOAT: left; LINE-HEIGHT: 25px; TOP: 1px; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-bg {
	FONT-SIZE: 12px; BACKGROUND: url(https://sso.wanda.cn/Images/bg.gif) repeat-x 0px 0px; COLOR: #005bac; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-bg1 {
	FONT-SIZE: 12px; BACKGROUND: url(https://sso.wanda.cn/Images/tb-bar.png) repeat-x 0px 0px; COLOR: #005bac; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-menu-item {
	HEIGHT: 27px; VERTICAL-ALIGN: middle; MARGIN-TOP: 0px; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 27px
}
.fm-menu-item > DIV {
	FLOAT: left
}
.fm-menu-item > DIV > A {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm-menu-item-right {
	HEIGHT: 27px; WIDTH: 190px; VERTICAL-ALIGN: middle; MARGIN-TOP: 0px; FLOAT: right; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 27px
}
.fm-menu-item-right > DIV {
	FLOAT: right
}
.fm-menu-item-right > SPAN > A {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm-menu-item-right .spanright {
	MARGIN-TOP: 0px; FLOAT: right; DISPLAY: inline-block; LINE-HEIGHT: 27px
}
#id-fm-menu-right-close {
	MARGIN-LEFT: 15px; DISPLAY: block
}
.fm-menu-item-right SPAN A {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm-menu-item-more {
	WIDTH: 50px; VERTICAL-ALIGN: middle; FLOAT: left; TEXT-ALIGN: center
}
.fm-menu-item-more-panel {
	BORDER-TOP: 0px; BORDER-RIGHT: #a5a6a6 1px solid; WIDTH: 125px; BACKGROUND: rgb(255,255,255) 0% 0%; BORDER-BOTTOM: #a5a6a6 1px solid; POSITION: absolute; BORDER-LEFT: #a5a6a6 1px solid; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-menu-item-more-panel A {
	OVERFLOW: hidden; TEXT-DECORATION: none; HEIGHT: 27px; WIDTH: 125px; FLOAT: left; TEXT-ALIGN: center; MARGIN: auto 3px; DISPLAY: block; LINE-HEIGHT: 27px
}
.fm-menu-item-more-panel-2 {
	WIDTH: 265px
}
.fm-menu-item-more-panel-3 {
	WIDTH: 395px
}
.fm-menu-item-more-panel-item {
	BACKGROUND: rgb(255,255,255) 0% 0%; COLOR: #005bac; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; background-size: auto; background-origin: padding-box; background-clip: border-box
}
.fm-menu-item-more-panel-item > A {
	TEXT-DECORATION: none; COLOR: #005bac
}
.fm-menu-item-2 {
	WIDTH: 45px
}
.fm-menu-item-3 {
	WIDTH: 45px
}
.fm-menu-item-4 {
	WIDTH: 53px
}
.fm-menu-item-6 {
	WIDTH: 90px
}
.fm-menu-item-7 {
	WIDTH: 105px
}
.fm-menu-item-9 {
	WIDTH: 135px
}
.fm-more {
	HEIGHT: 3px; WIDTH: 5px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center; MARGIN: 0px 0px 0px 3px; DISPLAY: inline-block; LINE-HEIGHT: 3px
}
.fm-more > EM {
	BACKGROUND-COLOR: rgb(0,91,172)
}
.fm-more > .b1 {
	HEIGHT: 1px; WIDTH: 1px; MARGIN-LEFT: 2px; DISPLAY: block; LINE-HEIGHT: 1px
}
.fm-more > .b2 {
	HEIGHT: 1px; WIDTH: 3px; MARGIN-LEFT: 1px; DISPLAY: block; LINE-HEIGHT: 1px
}
.fm-more > .b3 {
	HEIGHT: 1px; WIDTH: 5px; DISPLAY: block; LINE-HEIGHT: 1px
}
.fm-more > .b4 {
	HEIGHT: 1px; WIDTH: 7px; DISPLAY: block; LINE-HEIGHT: 1px
}
.fm-bar fm-bg {
	VERTICAL-ALIGN: middle
}
.fm-menu-item-more-hover {
	FONT-SIZE: 12px; BORDER-RIGHT: #a5a6a6 1px solid; WIDTH: 58px; BACKGROUND: #fff; BORDER-LEFT: #a5a6a6 1px solid
}
.fm-menu-item A {
	OVERFLOW: hidden; TEXT-DECORATION: none; HEIGHT: 27px; WIDTH: 105px; FLOAT: left; COLOR: #206fa7; TEXT-ALIGN: center; MARGIN: 0px 4px; DISPLAY: block; LINE-HEIGHT: 27px
}
.fm-menu-wrapper {
	POSITION: relative
}
.fm-menu-notify-tips-1 {
	FONT-SIZE: 12px; HEIGHT: 70px; WIDTH: 150px; BACKGROUND: url(https://sso.wanda.cn/Images/bubble_bg.gif) no-repeat 0px 0px; RIGHT: 80px; POSITION: absolute; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 19px; PADDING-LEFT: 10px; Z-INDEX: 100; LINE-HEIGHT: 22px; TOP: 25px; PADDING-RIGHT: 11px
}
.fm-menu-notify-tips-1 A {
	TEXT-DECORATION: underline
}
.fm-menu-notify-tips {
	FONT-SIZE: 12px; HEIGHT: 70px; WIDTH: 150px; BACKGROUND: url(https://sso.wanda.cn/Images/bubble_bg.gif) no-repeat 0px 0px; RIGHT: 50px; POSITION: absolute; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 19px; PADDING-LEFT: 10px; Z-INDEX: 100; LINE-HEIGHT: 22px; TOP: 25px; PADDING-RIGHT: 11px
}
.fm-menu-notify-tips A {
	TEXT-DECORATION: underline
}
.fm-menu-left-bar {
	FONT-SIZE: 12px; POSITION: absolute; COLOR: #333; LEFT: 0px; LINE-HEIGHT: 26px
}
.fm-menu-left-bar-category-1level {
	BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/line.gif) no-repeat right center; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 10px
}
.fm-menu-left-bar-category-1level A {
	TEXT-DECORATION: none !important; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/dot.gif) no-repeat right center; COLOR: #333 !important; PADDING-RIGHT: 15px
}
.fm-menu-left-bar-system-1level {
	BACKGROUND: 0px 0px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 10px
}
.fm-menu-left-bar-system-1level A {
	TEXT-DECORATION: none !important; BACKGROUND: 0px 0px; COLOR: #333 !important
}
.fm-menu-left-bar .dropCon {
	WIDTH: 639px; LEFT: -3px; DISPLAY: none; TOP: 19px; _top: 20px; _left: -2px
}
.fm-menu-left-bar .fm-menu-drop-bg {
	WIDTH: 639px; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/dropConBg.png) repeat-y left top
}
.fm-menu-left-bar .fm-menu-drop-bg .fm-menu-drop-line {
	WIDTH: 615px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; TEXT-ALIGN: left; PADDING-TOP: 4px; PADDING-LEFT: 10px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
.fm-menu-left-bar .fm-menu-drop-bg .fm-menu-drop-last-line {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 615px; BORDER-BOTTOM: medium none; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 10px; BORDER-LEFT: medium none; MARGIN: 0px auto; LINE-HEIGHT: 26px; PADDING-RIGHT: 0px
}
SPAN.dot2 {
	BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/dropConUlBg.gif) no-repeat left center; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 34px; PADDING-RIGHT: 0px
}
.fm-menu-left-bar .fm-menu-item-drop-list {
	OVERFLOW: hidden; TEXT-ALIGN: left; DISPLAY: inline-block
}
.fm-menu-left-bar .fm-menu-item-drop-list LI {
	HEIGHT: 22px; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/line.gif) no-repeat right center; FLOAT: left; DISPLAY: inline-block; LINE-HEIGHT: 22px
}
.fm-menu-left-bar .fm-menu-item-drop-list LI A {
	FONT-FAMILY: arial; BACKGROUND: none transparent scroll repeat 0% 0%; WHITE-SPACE: nowrap; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px
}
.fm-menu-left-bar .fm-menu-item-drop-list LI A:hover {
	TEXT-DECORATION: underline; COLOR: #005bac
}
.fm-menu-left-bar .fm-menu-item-drop-list .no-bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fm-menu-left-bar .fm-menu-left-bar-category-1level-container-drop {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 4px; PADDING-TOP: 1px; PADDING-LEFT: 11px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 9px; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none
}
.fm-menu-left-bar .fm-menu-item-drop-line-value {
	WIDTH: 525px; FLOAT: left; TEXT-ALIGN: left; DISPLAY: inline
}
.fm-menu-left-bar .fm-menu-item-drop-line-value UL {
	TEXT-ALIGN: left; DISPLAY: inline; LIST-STYLE: none none outside
}
.fm-menu-left-bar .fm-menu-item-2level {
	OVERFLOW: hidden; HEIGHT: 22px; WIDTH: 75px; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/dropConUlBg.gif) no-repeat left center; FLOAT: left; FONT-WEIGHT: bold; COLOR: #333; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: inline-block; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
.fm-menu-left-bar .fm-menu-item-drop {
	BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/dropConBg.png) repeat-y left top; POSITION: absolute; LEFT: -3px; DISPLAY: none; TOP: 19px
}
.fm-menu-left-bar .fm-menu-item-drop-display {
	WIDTH: 639px; POSITION: absolute; LEFT: -3px; TOP: 19px
}
.fm-menu-left-bar .fm-menu-item-clearfloat {
	FONT-SIZE: 0px; HEIGHT: 0px; CLEAR: both; LINE-HEIGHT: 0
}
.fm-menu-right-bar {
	FONT-SIZE: 12px; BACKGROUND: 0px 0px; POSITION: relative; FLOAT: right; COLOR: #333; DISPLAY: inline; LINE-HEIGHT: 26px
}
.fm-menu-right-bar A {
	FONT-SIZE: 12px; COLOR: #333; LINE-HEIGHT: 26px
}
.fm-menu-right-bar-pwdupdate A {
	TEXT-DECORATION: none !important; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/mm.gif) no-repeat left center; PADDING-LEFT: 20px; MARGIN-LEFT: 30px; MARGIN-RIGHT: 15px
}
.fm-menu-right-bar-exit A {
	TEXT-DECORATION: none !important; BACKGROUND: url(https://sso.wanda.cn/Images/floatMenu3/quit.gif) no-repeat left center; COLOR: #333 !important; PADDING-LEFT: 17px
}
.fm-menu-drop-footer {
	OVERFLOW: hidden; BORDER-TOP: 0px; HEIGHT: 6px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 6px
}
.fm-menu-drop-footer IMG {
	DISPLAY: block
}
