.jMenu {
	LIST-STYLE-TYPE: none; HEIGHT: 36px; WIDTH: 99.6%; BACKGROUND: url(../../Images/images/nav_bg.png) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN: 0px; DISPLAY: table; PADDING-RIGHT: 0px
}
.jMenu UL {
	MARGIN-LEFT: 10px
}
.jMenu UL LI {
	FLOAT: left; MARGIN: 8px 5px 0px
}
.jMenu UL LI A {
	HEIGHT: 28px; LINE-HEIGHT: 28px
}
.jMenu UL LI A SPAN {
	FONT-SIZE: 14px; HEIGHT: 28px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; PADDING-RIGHT: 15px
}
.jMenu UL LI A:hover {
	TEXT-DECORATION: none; HEIGHT: 28px; DISPLAY: block; LINE-HEIGHT: 28px
}
.jMenu UL LI A:hover SPAN {
	HEIGHT: 28px; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 15px
}
.jMenu UL LI.current A {
	TEXT-DECORATION: none; HEIGHT: 28px; DISPLAY: block; LINE-HEIGHT: 28px
}
.jMenu UL LI.current A SPAN {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_r.png) no-repeat right 50%; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 15px
}
.jMenu LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none; DISPLAY: table-cell
}
.jMenu LI A {
	FONT-SIZE: 14px; CURSOR: pointer; TEXT-TRANSFORM: uppercase; FONT-WEIGHT: bold; COLOR: #000000; DISPLAY: block; BACKGROUND-COLOR: transparent
}
.jMenu LI A:hover {
	BACKGROUND-COLOR: #3a3a3a
}
.jMenu LI:hover > A {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #fff; BACKGROUND-COLOR: #014696; border-radius: 5px
}
.jMenu LI UL {
	LIST-STYLE-TYPE: none; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 5px; Z-INDEX: 9999; DISPLAY: none; PADDING-RIGHT: 0px
}
.jMenu LI UL LI UL {
	LIST-STYLE-TYPE: none; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN: 0px; Z-INDEX: 9999; DISPLAY: none; PADDING-RIGHT: 0px
}
.jMenu LI UL LI {
	LIST-STYLE-TYPE: none; MIN-WIDTH: 150px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN: 0px; DISPLAY: block; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #5a95ec
}
.jMenu LI UL LI A {
	FONT-SIZE: 14px; TEXT-TRANSFORM: none; COLOR: #fff; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 7px; DISPLAY: block; PADDING-RIGHT: 7px
}
.jMenu LI UL LI A.isParent {
	BACKGROUND-COLOR: #5a95ec
}
.jMenu LI UL LI A:hover {
	BACKGROUND-COLOR: #5a95ec
}
