.ui_dialog {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
.ui_border {
	FILTER: alpha(opacity=5); BACKGROUND-COLOR: #000; opacity: 0.05
}
.ui_overlay DIV {
	HEIGHT: 100%; BACKGROUND: #000; FILTER: alpha(opacity=70); opacity: 0.7
}
.ui_lock .ui_border {
	FILTER: alpha(opacity=80); opacity: 0.8
}
* HTML .ui_ie6_select_mask {
	DISPLAY: none !important
}
.r0d0 {
	HEIGHT: 3px; WIDTH: 3px
}
.r0d2 {
	HEIGHT: 3px; WIDTH: 3px
}
.r2d0 {
	HEIGHT: 3px; WIDTH: 3px
}
.r2d2 {
	HEIGHT: 3px; WIDTH: 3px
}
.ui_move .ui_title_text {
	COLOR: #fff
}
.ui_move .ui_border {
	FILTER: alpha(opacity=20); opacity: 0.2
}
.ui_dialog_main {
	BORDER-TOP: #4e84c0 1px solid; BORDER-RIGHT: #4e84c0 1px solid; BORDER-BOTTOM: #4e84c0 1px solid; BORDER-LEFT: #4e84c0 1px solid; BACKGROUND-COLOR: #fff
}
.ui_title {
	HEIGHT: 100%; POSITION: relative
}
.ui_title_text {
	HEIGHT: 30px; FONT-WEIGHT: 700; COLOR: #ebebeb; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 30px; PADDING-RIGHT: 30px; BACKGROUND-COLOR: #214fa3
}
.ui_close {
	TEXT-DECORATION: none; RIGHT: 8px; COLOR: #fff; TOP: 5px
}
.ui_close:hover {
	
}
.ui_resize {
	HEIGHT: 8px; WIDTH: 8px
}
.ui_btns {
	BACKGROUND-COLOR: #f9f9f9
}
.ui_btns BUTTON {
	BORDER-TOP: #fff 1px solid; HEIGHT: 2em; BORDER-RIGHT: #848484 1px solid; BORDER-BOTTOM: #848484 1px solid; COLOR: #000; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #fff 1px solid; LETTER-SPACING: 2px; LINE-HEIGHT: 2em; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f8f8f8
}
.ui_btns .ui_yes BUTTON {
	CURSOR: pointer; BORDER-TOP-COLOR: #84a6e6; BORDER-LEFT-COLOR: #84a6e6; COLOR: #fff; BORDER-BOTTOM-COLOR: #122b58; BORDER-RIGHT-COLOR: #122b58; BACKGROUND-COLOR: #3a6ea5
}
.ui_btns .ui_yes:hover BUTTON {
	BACKGROUND-COLOR: #2251a8
}
.ui_dialog_icon {
	
}
.alert .ui_dialog_icon {
	
}
.confirm .ui_dialog_icon {
	
}
.error .ui_dialog_icon {
	
}
.succeed .ui_dialog_icon {
	
}
.noRadius .ui_border {
	BACKGROUND: #000
}
.noBorder .ui_border {
	DISPLAY: none
}
.noTitleBar .ui_title_wrap {
	HEIGHT: 0px; VISIBILITY: hidden; _display: none
}
.noTitle .ui_title_text {
	OVERFLOW: hidden; HEIGHT: 15px; VISIBILITY: hidden
}
.noTitle .ui_close {
	RIGHT: 3px; COLOR: #ccc; TOP: 1px
}
.noTitle .ui_content {
	MARGIN-TOP: 0px
}
.noClose .ui_close {
	DISPLAY: none
}
.noSkin .ui_border {
	DISPLAY: none
}
.noSkin .ui_title_wrap {
	DISPLAY: none
}
.noSkin .ui_dialog_icon {
	DISPLAY: none
}
.noSkin .ui_bottom_wrap {
	OVERFLOW: hidden; DISPLAY: none
}
* HTML .noSkin .ui_btns {
	OVERFLOW: hidden; HEIGHT: 0px; POSITION: absolute; LEFT: -99999em
}
.noSkin .ui_content {
	MARGIN: 0px
}
.noSkin .ui_dialog_main {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fonrm_content_title {
	FONT-SIZE: 12px; HEIGHT: 25px; WIDTH: auto; FONT-WEIGHT: bold; COLOR: #393939; MARGIN: 13px auto 0px; LINE-HEIGHT: 25px; TEXT-INDENT: 0px
}
.fonrm_content_title SPAN {
	FLOAT: right; PADDING-RIGHT: 5px
}
.fonrm_content_1 {
	BORDER-TOP: medium none; BORDER-RIGHT: #93a6b4 1px solid; WIDTH: auto; BORDER-BOTTOM: #93a6b4 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #93a6b4 1px solid; MARGIN: 0px auto; PADDING-RIGHT: 5px
}
.fonrm_content_1 P.fonrm_content_text {
	FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 880px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #ccc 1px solid; MARGIN: 5px auto; LINE-HEIGHT: 20px; PADDING-RIGHT: 10px
}
.form_xmjbxx {
	WIDTH: 948px; MARGIN: 0px auto
}
.form_xmjbxx TH {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-ALIGN: right; LINE-HEIGHT: 30px
}
.form_xmjbxx TD {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-ALIGN: left; LINE-HEIGHT: 30px; TEXT-INDENT: 5px
}
.form_table {
	BORDER-TOP: #cadaf1 1px solid; BORDER-RIGHT: #cadaf1 1px solid; WIDTH: 100%; BORDER-SPACING: 0px; BORDER-LEFT: #cadaf1 1px solid
}
.form_table CAPTION {
	HEIGHT: 30px; FONT-WEIGHT: bold; TEXT-ALIGN: left; LINE-HEIGHT: 30px
}
.form_table_disabled {
	BORDER-TOP: #cadaf1 1px solid; BORDER-RIGHT: #cadaf1 1px solid; WIDTH: 948px; BORDER-LEFT: #cadaf1 1px solid; DISPLAY: none
}
.form_table TH {
	FONT-SIZE: 12px; BORDER-RIGHT: #cadaf1 1px solid; BACKGROUND: #f2f6fc; BORDER-BOTTOM: #cadaf1 1px solid; FONT-WEIGHT: bold; TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
.form_table TD {
	FONT-SIZE: 12px; BORDER-RIGHT: #cadaf1 1px solid; BORDER-BOTTOM: #cadaf1 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 2px; LINE-HEIGHT: 28px; PADDING-RIGHT: 2px
}
.form_table .form_table_tl {
	TEXT-ALIGN: left
}
.form_table .form_table_tr {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.form_table .form_table_tdbg {
	BACKGROUND: #ecf9ff
}
.form_table .form_table_bold {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.form_table .form_table_lh18 {
	LINE-HEIGHT: 18px
}
.form_table .form_table_hj {
	BACKGROUND: #f6faff; FONT-WEIGHT: bold
}
.form_table .del_btn {
	CURSOR: pointer; HEIGHT: 16px; WIDTH: 16px; BACKGROUND: url(../Images/report/delete1.png) no-repeat; PADDING-RIGHT: 16px
}
.form_table .save_btn {
	CURSOR: pointer; HEIGHT: 16px; WIDTH: 16px; BACKGROUND: url(../Images/report/save.gif) no-repeat; DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.form_table INPUT[type=button] {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.form_table .wr INPUT.disabled {
	BACKGROUND-COLOR: white
}
TABLE.form_table TD.wr {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.form_table TD.wr INPUT[type=text] {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.form_table TD.wr SELECT {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.form_table TD.wr > INPUT[type=text] {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE.form_table TD.wr > SELECT {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE.form_table TD.wr > SELECT {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.form_table .add_btn {
	CURSOR: pointer; HEIGHT: 16px; WIDTH: 16px; BACKGROUND: url(../Images/add3.png) no-repeat; FLOAT: none; MARGIN-LEFT: 5px; PADDING-RIGHT: 16px
}
.form_table .modify_btn {
	CURSOR: pointer; HEIGHT: 16px; WIDTH: 16px; BACKGROUND: url(../Images/report/edit.png) no-repeat; DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.form_table .revoke_btn {
	CURSOR: pointer; HEIGHT: 16px; WIDTH: 16px; BACKGROUND: url(../Images/report/revoke.png) no-repeat; DISPLAY: inline-block
}
.new_content {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MIN-HEIGHT: 550px; PADDING-RIGHT: 10px
}
.content_title1 {
	MARGIN-BOTTOM: 5px; HEIGHT: 35px; MARGIN-TOP: 5px; BORDER-BOTTOM: #35aed9 2px solid; LINE-HEIGHT: 35px
}
.content_title1_Left {
	HEIGHT: 20px; WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 10px
}
.content_title1_Left SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", Arial; BACKGROUND: url(../images/arrow.png) no-repeat 1px 4px; FONT-WEIGHT: bold; COLOR: #012b80; PADDING-LEFT: 20px
}
.content_title1_Right {
	WIDTH: 78%; VERTICAL-ALIGN: middle; FLOAT: right
}
.booder_1 {
	BORDER-TOP: 0px; BORDER-RIGHT: #dcdcdc 0px solid; BORDER-BOTTOM: #dcdcdc 0px solid; PADDING-TOP: 3px; BORDER-LEFT: #dcdcdc 0px solid
}
.booder_1 H2 {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 3px; PADDING-LEFT: 10px
}
.content_title2 {
	MARGIN-BOTTOM: 5px; HEIGHT: 35px; MARGIN-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; LINE-HEIGHT: 35px
}
.content_title2_Left {
	WIDTH: 20%; FLOAT: left
}
.content_title2_Left SPAN {
	FONT-SIZE: 16px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", Arial; BACKGROUND: url(../images/arrow.png) no-repeat 1px 4px; FONT-WEIGHT: bold; COLOR: #012b80; PADDING-LEFT: 20px
}
.content_title2_Right {
	WIDTH: 78%; VERTICAL-ALIGN: middle; FLOAT: right
}
