IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.none0 {
	DISPLAY: none
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Î¢ÈíÑÅºÚ, Arial, Helvetica, sans-serif; MARGIN-TOP: 0px
}
.header_target {
	HEIGHT: 85px; BACKGROUND: url(../../images/bg.png) repeat-x 50% top; MIN-WIDTH: 1000px
}
.logInfo_target {
	FONT-SIZE: 14px; FONT-FAMILY: Î¢ÈíÑÅºÚ; WIDTH: 180px; VERTICAL-ALIGN: bottom; BACKGROUND: #fff; FLOAT: right; FONT-WEIGHT: 800; COLOR: #024596; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 0px; FILTER: alpha(opacity=80); MARGIN: 50px 20px auto auto; PADDING-RIGHT: 0px
}
.logo_target {
	HEIGHT: 85px; WIDTH: 250px; BACKGROUND: url(../../images/logo2.png) no-repeat 0px 0px
}
.logo_target SPAN {
	FONT-SIZE: 27px; POSITION: relative; COLOR: #fff; LEFT: 220px; TOP: 23px
}
#logo_target {
	HEIGHT: 53px; BACKGROUND: url(../../images/logo.png) no-repeat 0px 10px; PADDING-TOP: 10px
}
#logo_target SPAN {
	FONT-SIZE: 18px; HEIGHT: 53px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: bold; COLOR: #929292; FONT-STYLE: italic; MARGIN-LEFT: 170px; LETTER-SPACING: 1.5px; LINE-HEIGHT: 53px
}
.map_target {
	HEIGHT: 85px; WIDTH: 800px; BACKGROUND: url(../../images/map.png) right 50%; MARGIN-TOP: -85px; FLOAT: right
}
.tabs {
	OVERFLOW: hidden; HEIGHT: auto; BORDER-BOTTOM: #0869f6 3px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; MARGIN: 0px 0px 5px
}
.tabs LI {
	HEIGHT: 25px; FLOAT: left; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.sd {
	CURSOR: pointer; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.sd A {
	TEXT-DECORATION: none; HEIGHT: 20px; COLOR: #ff9000; DISPLAY: block; LINE-HEIGHT: 25px
}
.sd A.active {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 33px; WIDTH: 148px; BACKGROUND: url(../images/slither_current1.png) no-repeat; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 25px
}
.screen_sub A.active {
	TEXT-DECORATION: none; BACKGROUND: #014594; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: block; PADDING-RIGHT: 5px
}
.margin_t10 {
	MARGIN-TOP: 15px
}
.blue_txt {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #014696
}
.bold {
	FONT-WEIGHT: 700
}
.nav {
	HEIGHT: 36px; BACKGROUND: url(../../Images/images/nav_bg.png) repeat-x
}
.nav UL.firstu {
	MARGIN-LEFT: 10px
}
.nav UL.firstu LI {
	POSITION: relative; FLOAT: left; MARGIN: 8px 5px 0px
}
.nav UL.firstu LI A {
	HEIGHT: 28px; LINE-HEIGHT: 28px
}
.nav UL.firstu LI A SPAN {
	FONT-SIZE: 14px; HEIGHT: 28px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; PADDING-RIGHT: 15px
}
.nav UL.firstu LI A:hover {
	TEXT-DECORATION: none; HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_l.png) no-repeat left 50%; DISPLAY: block; LINE-HEIGHT: 28px
}
.nav UL.firstu LI A:hover SPAN {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_r.png) no-repeat right 50%; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 15px
}
.nav UL.firstu LI.current A {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_l.png) no-repeat left 50%; DISPLAY: block; LINE-HEIGHT: 28px
}
.nav UL.firstu LI.current A SPAN {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_r.png) no-repeat right 50%; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 15px
}
.nav UL.sub LI {
	LIST-STYLE-TYPE: none; WIDTH: 110px; BACKGROUND: #014696; POSITION: absolute; LEFT: 0px; Z-INDEX: 1000; DISPLAY: none; TOP: 28px
}
.nav UL.sub LI {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.nav UL.sub LI:hover {
	DISPLAY: block
}
.nav UL.sub LI A {
	TEXT-DECORATION: none; COLOR: #fff; PADDING-LEFT: 15px
}
.nav UL.sub LI A:hover {
	BACKGROUND: #0365d6; FONT-WEIGHT: 700; COLOR: #fff; PADDING-LEFT: 15px
}
.nav UL.sub LI DT {
	WIDTH: 110px; BACKGROUND: #014696; POSITION: absolute; LEFT: 210px; Z-INDEX: 1000; DISPLAY: none; TOP: 0px
}
.breadcrumb_nav {
	HEIGHT: 30px; BORDER-BOTTOM: #ccc 1px solid; COLOR: #666; PADDING-LEFT: 15px; LINE-HEIGHT: 30px
}
.main {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.title {
	POSITION: relative; TOP: 1px
}
.title A {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_l.png) no-repeat left 50%; DISPLAY: block; LINE-HEIGHT: 28px
}
.title A SPAN {
	FONT-SIZE: 14px; HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_r.png) no-repeat right 50%; FONT-WEIGHT: 700; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 25px
}
.content_t_l {
	HEIGHT: 2px; BACKGROUND: url(../../Images/images/content_t_l.png) no-repeat left 50%
}
.content_t_r {
	HEIGHT: 2px; BACKGROUND: url(../../Images/images/content_t_r.png) no-repeat right 50%; MARGIN-LEFT: 2px
}
.content_m {
	BORDER-RIGHT: #014696 2px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; BORDER-LEFT: #014696 2px solid; PADDING-RIGHT: 20px
}
.content_b_l {
	HEIGHT: 2px; BACKGROUND: url(../../Images/images/content_b_l.png) no-repeat left 50%
}
.content_b_r {
	HEIGHT: 2px; BACKGROUND: url(../../Images/images/content_b_r.png) no-repeat right 50%; MARGIN-LEFT: 2px
}
.content_m P {
	FONT-SIZE: 14px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tabs_m UL {
	
}
.tabs_m UL LI {
	CURSOR: pointer; FLOAT: left
}
.tabs_m UL LI A {
	HEIGHT: 28px; LINE-HEIGHT: 28px
}
.tabs_m UL LI A SPAN {
	FONT-SIZE: 14px; HEIGHT: 28px; FONT-WEIGHT: 700; COLOR: #014696; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN-LEFT: 3px; PADDING-RIGHT: 25px
}
.tabs_m UL LI.selected A {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_l.png) no-repeat left 50%; DISPLAY: block; LINE-HEIGHT: 28px
}
.tabs_m UL LI.selected A SPAN {
	HEIGHT: 28px; BACKGROUND: url(../../Images/images/nav_r.png) no-repeat right 50%; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN-LEFT: 3px; DISPLAY: inline-block; PADDING-RIGHT: 25px
}
.tabs_m UL LI A:hover {
	TEXT-DECORATION: none; HEIGHT: 28px; DISPLAY: block; LINE-HEIGHT: 28px
}
.tabs_content {
	BORDER-TOP: #014696 4px solid; POSITION: relative; CLEAR: both; LEFT: 0px; TOP: -2px
}
#MonthGetDescription {
	FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; HEIGHT: 205px; FONT-FAMILY: Î¢ÈíÑÅºÚ; BORDER-RIGHT: #ccc 1px solid; WIDTH: 97%; OVERFLOW-Y: auto; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 20px; resize: none
}
.tab_005 {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: #cde1fb 1px solid; BORDER-LEFT: #cde1fb 1px solid; MARGIN: 0px
}
.tab_005 TD A:link {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.tab_005 TD A:visited {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.tab_005 TD A:hover {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.tab_005 TD A:active {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.tab_005 TD {
	TEXT-ALIGN: left; PADDING-LEFT: 3px; LINE-HEIGHT: 25px; PADDING-RIGHT: 6px
}
.tab_005 TH {
	TEXT-ALIGN: left; PADDING-LEFT: 3px; LINE-HEIGHT: 25px; PADDING-RIGHT: 6px
}
.tab_005 TH {
	OVERFLOW: auto; BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; WHITE-SPACE: nowrap; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: keep-all; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: #cde1fb 1px solid; BACKGROUND-COLOR: #0463d0
}
.tab_005 .th_Sub {
	BORDER-TOP: #4497f5 1px solid; BORDER-RIGHT: #4497f5 1px solid; FONT-WEIGHT: normal !important; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: #4497f5 1px solid; BACKGROUND-COLOR: #4497f5
}
.tab_005 .th_Sub1 {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #4497f5 1px solid; FONT-WEIGHT: normal !important; BACKGROUND-COLOR: #4497f5
}
.tab_005 .th_Sub2 {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; FONT-WEIGHT: normal !important; BACKGROUND-COLOR: #4497f5
}
.tab_005 TFOOT TD {
	BORDER-TOP: #cde1fb 0px solid; HEIGHT: 35px; TEXT-ALIGN: right; LINE-HEIGHT: 35px; PADDING-RIGHT: 10px
}
.tabOrderBackground {
	COLOR: #929292; BACKGROUND-COLOR: #f2f2f2
}
.Td_Left {
	BORDER-TOP: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: break-all; TEXT-ALIGN: center !important; BORDER-LEFT: #cde1fb 1px solid
}
.Td_Right {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: break-all; TEXT-ALIGN: center !important
}
.Td_Center {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: break-all; TEXT-ALIGN: center !important; BORDER-LEFT: #cde1fb 1px solid
}
.Td_TrueLeft {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: break-all; TEXT-ALIGN: left !important; BORDER-LEFT: #cde1fb 1px solid
}
.Td_TopAndBottom {
	BORDER-TOP: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; WORD-BREAK: break-all; TEXT-ALIGN: center !important
}
.Td_Merge {
	CURSOR: pointer; BORDER-BOTTOM: #cde1fb 1px solid; FONT-WEIGHT: 700; TEXT-ALIGN: center; PADDING-LEFT: 0px; BACKGROUND-COLOR: #e1eaf5
}
.tab02 {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0px
}
.tab02 TH {
	BORDER-TOP: #cfdefd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #cfdefd 1px solid; BORDER-BOTTOM: #cfdefd 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #cfdefd 1px solid; PADDING-RIGHT: 2px
}
.tab02 TD {
	BORDER-TOP: #cfdefd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #cfdefd 1px solid; BORDER-BOTTOM: #cfdefd 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #cfdefd 1px solid; PADDING-RIGHT: 2px
}
.tab02 TH {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #f0f5fe
}
.tab02 TD {
	TEXT-ALIGN: center; PADDING-RIGHT: 5px
}
.sd A.active_sub2 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 25px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #014594
}
.sd A.active_sub3 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 25px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #014594
}
.sd A.active_sub4 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 25px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #014594
}
.TClassHide {
	DISPLAY: none
}
.DownExcelspan {
	FONT-SIZE: 13px; CURSOR: pointer; HEIGHT: 30px; RIGHT: 0px; POSITION: absolute; Z-INDEX: 100; DISPLAY: block; LINE-HEIGHT: 60px; PADDING-RIGHT: 0px
}
.UpLoadExcelspan {
	FONT-SIZE: 13px; CURSOR: pointer; HEIGHT: 30px; PADDING-LEFT: 0px; Z-INDEX: 100; DISPLAY: block; LINE-HEIGHT: 60px
}
.DownExcelLabel {
	CURSOR: pointer
}
.DownExcelDiv {
	POSITION: relative; LEFT: -10px; TOP: 0px
}
.DownExcelDiv2 {
	POSITION: relative; LEFT: -150px; TOP: 0px
}
.DownExcelDiv3 {
	POSITION: relative; TOP: 0px
}
.W100P {
	WIDTH: 100px !important
}
.SearchCheckBox {
	MARGIN-LEFT: 10px
}
.panelSearch {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BORDER-LEFT: #ccc 1px solid; DISPLAY: none
}
.AttDiv A:link {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.AttDiv A:visited {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.AttDiv A:hover {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.AttDiv A:active {
	FONT-SIZE: 13px; TEXT-DECORATION: underline; COLOR: blue
}
.popup {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif; WIDTH: 800px
}
.pop_title_l {
	BACKGROUND: url(images/pop_title_l.png) no-repeat left 50%
}
.pop_title_r {
	HEIGHT: 28px; BACKGROUND: url(images/pop_title_r.png) no-repeat right 50%; MARGIN-LEFT: 3px
}
.pop_title_r SPAN {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #fff; PADDING-LEFT: 10px; LINE-HEIGHT: 27px
}
.exit {
	CURSOR: pointer; HEIGHT: 13px; WIDTH: 10px; BACKGROUND: url(images/exit.png) no-repeat; POSITION: relative; FLOAT: right; DISPLAY: inline-block; TOP: 8px
}
.pop_content {
	BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.pop_operate {
	BACKGROUND: url(images/line.png) #fff repeat-x 50% top; PADDING-BOTTOM: 8px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px
}
.pop_btn {
	FLOAT: right; MARGIN-RIGHT: 8px
}
.btn_blue {
	FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 28px; BORDER-RIGHT: 0px; WIDTH: 80px; BACKGROUND: #014696; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; BORDER-LEFT: 0px
}
.btn_gray {
	FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 28px; BORDER-RIGHT: 0px; WIDTH: 80px; BACKGROUND: #818182; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; BORDER-LEFT: 0px
}
.cls {
	CLEAR: both
}
.tab_search {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.tab_search TH {
	WIDTH: 8%; PADDING-BOTTOM: 5px; TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px
}
.tab_search TD {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px
}
.tab_search INPUT {
	BORDER-TOP: #aaa 1px solid; HEIGHT: 20px; BORDER-RIGHT: #aaa 1px solid; WIDTH: 170px; BORDER-BOTTOM: #aaa 1px solid; TEXT-ALIGN: left; PADDING-LEFT: 2px; BORDER-LEFT: #aaa 1px solid
}
.tab_search SELECT {
	BORDER-TOP: #aaa 1px solid; HEIGHT: 20px; BORDER-RIGHT: #aaa 1px solid; WIDTH: 170px; BORDER-BOTTOM: #aaa 1px solid; TEXT-ALIGN: left; PADDING-LEFT: 2px; BORDER-LEFT: #aaa 1px solid
}
.tab_search SELECT {
	HEIGHT: 22px; WIDTH: 174px
}
.tab_search SPAN {
	BACKGROUND: url(../../images/search.png) no-repeat 0px 3px; PADDING-LEFT: 20px; DISPLAY: block
}
.tab_search INPUT[type=text] {
	LINE-HEIGHT: 20px
}
.tab_search INPUT[type=checkbox] {
	HEIGHT: 13px; WIDTH: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tab_search INPUT[type=radio] {
	HEIGHT: 12px; WIDTH: 13px; MARGIN-TOP: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 15px; PADDING-RIGHT: 0px
}
.btn_search {
	TEXT-DECORATION: none; BORDER-TOP: #ccc 1px solid; HEIGHT: 23px; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: url(../../images/thead.jpg); WHITE-SPACE: nowrap; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; BORDER-LEFT: #ccc 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 23px; PADDING-RIGHT: 10px
}
.btn_search_inner {
	TEXT-DECORATION: none; HEIGHT: 32px; WIDTH: 32px; BACKGROUND: url(../../images/search_22.png) no-repeat; WHITE-SPACE: nowrap; POSITION: relative; LEFT: -24px; DISPLAY: inline-block; TOP: 18px
}
.dstab_5 {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 0px
}
.dstab_5 TD {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #cde1fb 1px solid; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px
}
.dstab_5 TH {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #cde1fb 1px solid; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px
}
.dstab_5 TH {
	BORDER-TOP: #cde1fb 1px solid; BORDER-RIGHT: #cde1fb 1px solid; BORDER-BOTTOM: #cde1fb 1px solid; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: #cde1fb 1px solid; BACKGROUND-COLOR: #0463d0
}
.dstab_5 TBODY TR:hover {
	BACKGROUND-COLOR: #fff
}
.dstab_5 .th_Sub {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BACKGROUND-COLOR: #4497f5
}
TH.align_center {
	TEXT-ALIGN: center
}
TD.align_center {
	TEXT-ALIGN: center
}
TABLE.dstab_5 TH.align_center {
	TEXT-ALIGN: center
}
TABLE.dstab_5 TD.align_center {
	TEXT-ALIGN: center
}
TH.align_left {
	TEXT-ALIGN: left
}
TD.align_left {
	TEXT-ALIGN: left
}
TH.align_right {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
TD.align_right {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.texthidden_7 {
	OVERFLOW: hidden; WIDTH: 107px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.dstab_5 TFOOT TD {
	BORDER-TOP: #cde1fb 0px solid; HEIGHT: 35px; TEXT-ALIGN: right; LINE-HEIGHT: 35px; PADDING-RIGHT: 10px
}
.dstab_5 CAPTION {
	HEIGHT: 30px; FONT-WEIGHT: bold; TEXT-ALIGN: left; LINE-HEIGHT: 30px
}
.dstab_5 TFOOT SPAN.bkspan {
	BACKGROUND: url(../images/report/gantan.gif) no-repeat 0px 1px; COLOR: #000; PADDING-LEFT: 16px
}
TABLE.dstab_5 TH {
	WHITE-SPACE: nowrap
}
TABLE.dstab_5 TD.readonly {
	BACKGROUND: #f1f1f1
}
TABLE.dstab_5 TD.wr {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.dstab_5 TD.wr INPUT[type=text] {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.dstab_5 TD.wr SELECT {
	HEIGHT: 20px; BACKGROUND: #eeffe8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
TABLE.dstab_5 TD.wr > INPUT[type=text] {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE.dstab_5 TD.wr > SELECT {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE.dstab_5 TD.wr > SELECT {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
TABLE.dstab_5 TR.dstab_5_row_alt TH {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid
}
TABLE.tab_2 TR.tab_2_row_alt TD {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid
}
.multiselect {
	
}
.multiselect INPUT LABEL {
	VERTICAL-ALIGN: bottom
}
.multiselect .list {
	OVERFLOW: auto; BORDER-TOP: #617775 1px solid; HEIGHT: 200px; BORDER-RIGHT: #617775 1px solid; WIDTH: 200px; BACKGROUND: #fff 0px 0px; BORDER-BOTTOM: #617775 1px solid; POSITION: absolute; FLOAT: left; BORDER-LEFT: #617775 1px solid; Z-INDEX: 1000000; DISPLAY: none
}
.multiselect UL LI {
	FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 2px; LINE-HEIGHT: 18px; PADDING-RIGHT: 2px
}
.multiselect UL {
	PADDING-TOP: 2px; MARGIN: 2px; LIST-STYLE: none none outside
}
.multiselect LABEL {
	PADDING-LEFT: 5px
}
.leftCon {
	HEIGHT: auto !important; WIDTH: 100%; MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 0px
}
.rightCon {
	HEIGHT: auto !important; WIDTH: 100%; MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 0px
}
.module {
	MARGIN-TOP: 0px
}
.menutree {
	BORDER-TOP: #b6d4e9 1px solid; BORDER-RIGHT: #b6d4e9 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #b6d4e9 1px solid; BORDER-LEFT: #b6d4e9 1px solid; MARGIN: 0px 8px
}
.hide {
	DISPLAY: none !important
}
