<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="file_UnNoramlInfo" xsi:type="File" fileName="${basedir}/log/file_Approve.${shortdate}.htm"
                 layout="&lt;p&gt;&lt;span style=&quot;color:#666&quot;&gt;
        ${date:format=yyyy-MM-dd HH\:mm\:ss}
      &lt;/span&gt;&lt;br /&gt;
      &lt;span style=&quot;color:#0066FF; font-weight:bold;&quot;&gt;
        [${stacktrace}]&lt;/span&gt;&lt;br /&gt;
        &lt;span style=&quot;color:#0066FF&quot;&gt;
          ${message}&lt;/span&gt;&lt;/p&gt;&lt;br /&gt;"/>

  </targets>

  <rules>
    <logger name="*" levels="Info,Error" writeTo="file_UnNoramlInfo" />
  </rules>
</nlog>
