<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--<section name="PermissionCenterSetting" type="Wanda.Platform.Permission.ClientComponent.PermissionCenterSDKConfigurationSection,Wanda.Platform.Permission.ClientComponent"/>-->
    <sectionGroup name="mcs.data" type="Lib.Data.DbConfigurationSectionGroup, Lib.Data">
      <section name="connectionManager" type="Lib.Data.ConnectionManagerConfigurationSection, Lib.Data" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnabledSSO" value="false" />
    <add key="forceMenuShow" value="true" />
    <!--Ajax Controller regesion-->
    <add key="ControllerAssemblies" value="LJTH.BusinessIndicators.Web.AjaxHandler" />
    <add key="EnableLogin" value="false" />
    
    <add key="cors.Origins" value="*" />
    <add key="cors.Headers" value="*" />
    <add key="cors.Methods" value="*" />

    <add key="FileServer_RemotePath" value="\\192.168.50.72\Excel" />
    <add key="FileServer_LocalPath" value="\\192.168.50.72\Excel" />
    <add key="FileServer_UserName" value="nas_user" />
    <add key="FileServer_UserPassword" value="1234Qwer" />
    <add key="UploadFilePath" value="C:\JYZBUpload" />
    <add key="ExcelTempletePath" value="../Excel" />

    <!--这个是未完成显示上月未完成的家数，特殊处理的 《万达旅业为代表的》-->
    <add key="MissTargetSystemName" value="万达旅业,酒馆系统,百货系统" />

    <!--针对现在的百货系统-->
    <add key="MonthDescription" value="F69203F2-8702-41B8-96F6-A11AD86BA304" />

    <!--针对现在的商管系统-->
    <add key="MonthSG" value="15EE2C18-5C7A-402E-92B8-277CFF78E210" />

    <!--针对现在的商管系统的租金收缴率-->
    <add key="MonthSGRent" value="A79A8351-89E0-4F1A-B05E-70FF12209BCB" />

    <!--针对现在的商管系统的大商业物管费收缴率-->
    <add key="MonthSGBigRent" value="D45F147A-0BD5-4CA7-85B1-13A954FC38B2" />

    <!--针对下载未完成上报模版(误删)-->
    <add key="ExceptionSystem" value="D3FF44D6-4F81-4DF4-8A30-7785B3510022,15EE2C18-5C7A-402E-92B8-277CFF78E210" />

    <!--针对SystemTree境内节点-->
    <add key="ProJN" value="F75E9317-D4A2-4FF4-AC76-0B0F70FD49DC" />

    <!--针对万达电影国内院线-->
    <add key="MovieCN" value="885141E0-DC28-4C5A-92F0-03790D1AA8FA" />

    <!--针对万达电影国内院线（票房收入）指标-->
    <add key="MovieCNpf" value="ACEA8CAB-95F0-46A6-83B0-2E7F25071160" />

    <!--新工作流核心服务-->
    <add key="WorkflowServerUrl" value="http://192.168.50.72:81" />

    <add key="BPF.UserSelect.SYS_APPCODE" value="YY_ZBGK" />
    <add key="BPF.UserSelect.SYS_USERSELECT_SERVERURL" value="http://192.168.50.72:81" />
    <add key="BPF.UserSelect.SYS_USERSELECT_CACHESECONDS" value="3600" />



    <add key="BPF.Workflow.WorkflowServerUrl" value="http://192.168.50.72:81" />
    <add key="BPF.Workflow.ApplicationCode" value="YY_ZBGK" />

    <add key="OA.PrivateKey" value="ljht123@" />

    <!--本项目的流程编码-->
    <add key="ApplicationCode" value="YY_ZBGK" />
    <add key="PageSize" value="20" />

    <add key="virtualUser" value="zhengguilong" />
    <add key="WF.VirtualUser" value="sys" />

    <!--启用授权-->
    <add key="EnablePermission" value="false" />
    <!--上报时间-->
    <add key="TestReportDateTime" value="2015-6" />
    <!--启用上报日志(误删)-->
    <add key="MonthReportLog" value="True" />
    <!--计划指标上报流程编码(误删)-->
    <add key="HideProcessCode" value="YY_WD-SYSTEM-JY-ZBLCSB" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  
  <mcs.data>
    <connectionManager>
      <!--数据库连接-->
      <connectionStrings>
        <!--<add name="WandaJYZBConnectionString" connectionString="Data Source=.;Initial Catalog=jyzbgkxt;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->

        <!--<add name="WandaJYZBConnectionString" connectionString="Data Source=192.168.50.72;Initial Catalog=jyzbgkxt;User ID=sa;Password=ljth@1234" providerName="System.Data.SqlClient"/>-->
        <add name="WandaJYZBConnectionString" connectionString="Data Source=192.168.50.72;Initial Catalog=jyzbgkxt_uat;User ID=sa;Password=ljth@1234" providerName="System.Data.SqlClient" />

        <!--<add name="WandaJYZBConnectionString" connectionString="Data Source=wddb07.LJTH.cn;Initial Catalog=jyzbgkxt;User ID=jyzbgkxt_user;Password=1qaz@WSX" providerName="System.Data.SqlClient"/>-->
      </connectionStrings>
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="Lib.Data.OracleDatabase,Lib.Data.ODP" />
        <add name="System.Data.OracleClient" type="Lib.Data.OracleDatabase,Lib.Data" />
        <add name="System.Data.SqlClient" type="Lib.Data.SqlDatabase,Lib.Data" />
      </dataProviders>
    </connectionManager>
  </mcs.data>


  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
