<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        经营指标管控系统
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <script type="text/javascript" src="TargetConfiguration_files/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/jquery.blockUI.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/base.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/FloatTable.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/jMenu.jquery.js"></script>
    <link rel="stylesheet" href="TargetConfiguration_files/default.css" />
    <script type="text/javascript" src="TargetConfiguration_files/artDialog.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/jquery.cookie.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/jqueryControl.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/posfixed.js"></script>
    <script type="text/javascript" src="TargetConfiguration_files/jquery.tmpl.js"></script>
    <link href="TargetConfiguration_files/jmenu.css" rel="stylesheet" />
    <link href="TargetConfiguration_files/font-awesome.min.css" rel="stylesheet" />
    <link href="TargetConfiguration_files/mini.css" rel="stylesheet" type="text/css" />
    <link href="TargetConfiguration_files/Styles.css" rel="stylesheet" />
    <link href="TargetConfiguration_files/layout.css" rel="stylesheet" />
    <link href="TargetConfiguration_files/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="w1240 mauto pr" style="z-index: 99999; width: 100%; position: absolute; height: 20px;" id="wd-fm">
        </div>
    </div>

    <div class="Pagebox">
        <div class="header_target" style="height: auto">
            <div class="logo_target">
                <img src="TargetConfiguration_files/logo0.png" alt="经营指标管控系统" />
                <span>经营指标管控系统</span>
                <div class="map_target">
                    <span>欢迎您，zhengguilong </span>
                </div>
            </div>
            <div style="height:5px;clear: both;background: rgb(232, 235, 239);"></div>
            <div class="jMenu">
                <ul id="jMenu" class="jMenu">

                    <li class="jmenu-level-0">
                        <a href="TargetRpt.html" class="first fNiv isParent"><span>月度经营报告</span></a>
                        <ul style="top: 116px; left: 10px; width: 150px;"></ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="TargetDirectlyRpt.html" class="first fNiv isParent"><span>月度经营报告</span></a>
                        <ul style="top: 116px; left: 10px; width: 150px;"></ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="TargetReported.html" class="first fNiv isParent"><span>月度经营报告上报</span></a>
                        <ul style="top: 116px; left: 124px; width: 150px;"></ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="TargetCollectDisplay.html" class="first fNiv isParent"><span>分解指标查询</span></a>
                        <ul style="top: 116px; left: 266px; width: 150px;"></ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="TargetPlanDetailReported.html" class="first fNiv isParent"><span>分解指标上报</span></a>
                        <ul style="top: 108px; left: 380px; width: 150px; overflow: hidden; display: none;"></ul>
                    </li>

                    <li class="current jmenu-level-0">
                        <a href="CompanyList.html" class="first fNiv isParent"><span>系统报表</span></a>
                        <ul style="top: 116px; left: 494px; width: 150px;">

                            <li>
                                <a href="ComprehensiveReportForms.html" class="isParent">综合报表</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                        </ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="DocumentManager.html" class="first fNiv isParent"><span>档案管理</span></a>
                        <ul style="top: 116px; left: 580px; width: 150px;">

                            <li>
                                <a href="#" class="isParent">档案上传</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                            <li>
                                <a href="#" class="isParent">档案下载</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                        </ul>
                    </li>

                    <li class="first jmenu-level-0">
                        <a href="CompanyList.html" class="first fNiv isParent"><span>系统管理</span></a>
                        <ul style="top: 116px; left: 666px; width: 150px;">

                            <li>
                                <a href="TargetConfiguration.html" class="isParent">指标基本信息管理</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                            <li>
                                <a href="CompanyList.html" class="isParent">公司属性管理</a>
                                <ul style="top: 0px; left: 150px; width: 150px;">

                                    <li><a href="CompanyList.html">公司属性管理</a></li>

                                    <li><a href="IfContrastCompany.html">可比属性管理</a></li>

                                </ul>
                            </li>

                            <li>
                                <a href="UpdateTimeConfiguration.html" class="isParent">系统开放时间管理</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                            <li>
                                <a href="ReportApproveStatistical.html" class="isParent">月报上报审批情况</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                            <li>
                                <a href="TargetPlanDetailReported.html" class="isParent">指标上报审批情况</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                        </ul>
                    </li>

                    <li class="jmenu-level-0">
                        <a href="#" class="first fNiv isParent"><span>系统帮助</span></a>
                        <ul style="top: 116px; left: 752px; width: 150px;">

                            <li>
                                <a href="#" class="isParent">上报月报操作视频</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                            <li>
                                <a href="#" class="isParent">经营指标操作手册</a>
                                <ul style="top: 0px; left: 150px; width: 150px;"></ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!--nav-->
        </div>
        <!--header-->
        <div id="sitmap" class="breadcrumb_nav">您当前所在的位置：系统报表<img src="TargetConfiguration_files/btn08.png" />综合报表</div>
        <form id="form1">

            <div id="main" style="margin-left: 3px; margin-right: 3px;">

                <div class="main">
                    <div class="title">
                        <a><span>查询条件</span></a>
                    </div>
                    <div class="content_t_l">
                        <div class="content_t_r"></div>
                    </div>
                    <div class="content_m" style="overflow: hidden">
                        <div style="float: left; width: 30%;">
                            <span>上报年</span>
                            <select id="ddlYears" style="width: 120px;">
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                        <div style="width: 30%; float: left">
                            <span>上报月份</span>
                            <select class="DownExcelDiv" style="width: 100px; margin-left: 20px;" id="ddlMonths">
                                <option value="1">1月</option>
                                <option value="2">2月</option>
                                <option value="3">3月</option>
                                <option value="4">4月</option>
                                <option value="5">5月</option>
                                <option value="6">6月</option>
                                <option value="7">7月</option>
                                <option value="8">8月</option>
                                <option value="9">9月</option>
                                <option value="10">10月</option>
                                <option value="11">11月</option>
                                <option value="12">12月</option>
                            </select>
                        </div>
                        <div class="DownExcelDiv" id="DownMovie" style="width: 200px; float: left;">
                            <a class="btn_search" id="ContentPlaceHolder1_LinkButton1"><span>查询</span></a>
                        </div>
                    </div>
                    <div class="content_b_l">
                        <div class="content_b_r"></div>
                    </div>
                    <!--明细项 开始-->
                    <!--明细项 开始-->
                    <div class="margin_t10">
                        <div class="tabs_m">
                            <ul id="Ul3">
                                <li class="selected m_1"><a class="active_sub2"><span>综合查询</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabs_content">
                        <div class="scrolldoorFrame copy">
                            <table class="tab_005">
                                <tr>
                                    <th class="Td_Right" rowspan=2>板块</th>
                                    <th class="Td_Right" rowspan=2>考核指标</th>
                                    <th class="Td_Right" colspan=4>本月发生</th>
                                    <th class="Td_Right" colspan=4>本年累计</th>
                                </tr>
                                <tr>
                                    <th class="Td_Right">计划数</th>
                                    <th class="Td_Right">实际数</th>
                                    <th class="Td_Right">差额</th>
                                    <th class="Td_Right">完成率</th>
                                    <th class="Td_Right">计划数</th>
                                    <th class="Td_Right">实际数</th>
                                    <th class="Td_Right">差额</th>
                                    <th class="Td_Right">完成率</th>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=5>房地产事业部</td>
                                    <td class="Td_Right">销售额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">销售回款</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">利润额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">关键节点达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">维修事项达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=5>
                                        产业发展<span style='mso-spacerun:yes'>&nbsp;</span>
                                    </td>
                                    <td class="Td_Right">经营净利润</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">招商额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">回款额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">大机构招商</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">工业用地拓展</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=6>文旅板块</td>
                                    <td class="Td_Right">经营收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">EBITDA</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">会籍费</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">土地收储（租地）</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">土地收储（征地）</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">重点事项达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=5>物业公司</td>
                                    <td class="Td_Right">回款</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">EBITDA</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">经营收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">基础物业收费率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">维修事项达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=4>热力公司</td>
                                    <td class="Td_Right">经营性回款</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">EBITDA</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">经营收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">2#热源厂节点达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=6>
                                        和道国际<span style='mso-spacerun:yes'>&nbsp;</span>
                                    </td>
                                    <td class="Td_Right">经营收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">EBITDA</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">回款额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">出租率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">经营率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">重点事项达成率</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=3>商贸公司</td>
                                    <td class="Td_Right">经营收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">经营利润</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">统一收银额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=3>合创</td>
                                    <td class="Td_Right">营业收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">税后经营净利润</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">回款额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right" rowspan=5>
                                        金控<span style='mso-spacerun:yes'>&nbsp;</span>
                                    </td>
                                    <td class="Td_Right">融资收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">营业收入</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">利润额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">历史欠款追缴</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">基金管理规模</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">融资部</td>
                                    <td class="Td_Right">融资转款额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>
                                <tr>
                                    <td class="Td_Right">总部费用</td>
                                    <td class="Td_Right">置业（实业）费用额</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">100</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">300</td>
                                    <td class="Td_Right">0</td>
                                    <td class="Td_Right">100%</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="footer hide" style="position: fixed; bottom: 0; width:100%;">
        <b>版权所有©2014 大连万达集团股份有限公司 </b>
    </div>
    <!--footer-->
    <script type="text/javascript">
        // 浏览器支持判断
        $(function () {
            var bro = $.browser;
            if (bro) {
                if (bro.msie && bro.version > 7) {

                }
                else {
                    //var remindCookie = $.cookie("browserIssue");
                    //if (!remindCookie) {
                    //    //alert("本系统设计上兼容浏览器IE8、IE9、IE10， 您当前使用的浏览器版本可能有兼容性问题。 \r\n\r\n为了更好的用户体验， 请您更换或升级浏览器！");
                    //    $.cookie("browserIssue", true, { expires: 0.02 }); //0.02天， 约30mins
                    //}
                }
            }
        });
    </script>
    <script type="text/javascript">
        function switchSysBar() {
            var switchPoint = $("#switchPoint");
            var navContainer = $("#navContainer");
            var invisible = navContainer.data("hide");
            if (invisible) {
                switchPoint.removeClass("spread_handler").addClass("shrink_handler");
                navContainer.show("fast");
                navContainer.data("hide", false);
            }
            else {
                switchPoint.removeClass("shrink_handler").addClass("spread_handler");
                navContainer.hide("fast");
                navContainer.data("hide", true);
            }
            setTimeout(function () {
                $(window).resize(); //如果有smartFloat, 触发漂浮表头宽度的调整
                $(window).trigger("navToggle");//如果有smartFloat, 触发漂浮表头纵向位置的调整
            }, 200);
        }

        $(function () {
            try {
                $("#jMenu").jMenu({
                    openClick: false,
                    ulWidth: 150,
                    TimeBeforeOpening: 100,
                    TimeBeforeClosing: 11,
                    animatedText: false,
                    paddingLeft: 1,
                    effects: {
                        effectSpeedOpen: 150,
                        effectSpeedClose: 150,
                        effectTypeOpen: 'slide',
                        effectTypeClose: 'slide',
                        effectOpen: 'swing',
                        effectClose: 'swing'
                    }
                });
                $("#jMenu").show();
            }
            catch (e) {
            }
        })


        //function toggleNav(sender) {
        //    var folded = $(sender).data("folded");

        //    if (!folded || typeof (folded) == 'undefined') {
        //        $(sender).data("folded", true);
        //        $(sender).parent().find("dl").hide("fast");
        //    } else {
        //        $(sender).data("folded", false);
        //        $(sender).parent().find("dl").show("fast");
        //    }
        //}

        //导航状态控制开始
        function saveState() {
            var arr = new Array();
            arr[0] = [];
            var a = $("#nav ul");

            $(a).each(function (i, row) {
                var ishow = $(row).css("display");
                if (ishow == "block") {
                    arr[0][i] = 1;
                }
                else {
                    arr[0][i] = 0;
                }
            });
            $.cookie("htmlcookie", arr[0], { expires: 7, path: '/' });
        }

        $(document).ready(function () {

            $("#nav ul li").click(function () {
                saveState();
            });
            //if ($.cookie('htmlcookie') != null && $.cookie('htmlcookie') != "") {

            //    var array = $.cookie('htmlcookie').split(',');
            //    $("#nav ul").each(function (i, row) {
            //        if (array[i] == 1) {
            //            $(row).css("display", "block");
            //        }
            //        else {
            //            $(row).css("display", "none");
            //        }

            //    });
            //}
        });
        //导航状态控制结束
    </script>
    <script type="text/javascript">
        var cur_id = "";
        var flag = 0, sflag = 0;

        //-------- 菜单点击事件 -------
        function c(srcelement) {
            var targetid, srcelement, targetelement;
            var strbuf;

            //-------- 如果点击了展开或收缩按钮---------
            targetid = srcelement.id + "d";
            targetelement = document.getElementById(targetid);

            if (targetelement.style.display == "none") {
                srcelement.className = "active";
                targetelement.style.display = '';

                menu_flag = 0;
            }
            else {
                srcelement.className = "";
                targetelement.style.display = "none";

                menu_flag = 1;
                var links = document.getElementsByTagName("A");
                for (i = 0; i < links.length; i++) {
                    srcelement = links[i];
                    if (srcelement.parentNode.className.toUpperCase() == "L1" && srcelement.className == "active" && srcelement.id.substr(0, 1) == "m") {
                        menu_flag = 0;

                        break;
                    }
                }
            }
        }
        function set_current(id) {
            cur_link = document.getElementById("f" + cur_id)
            if (cur_link)
                cur_link.className = "";
            cur_link = document.getElementById("f" + id);
            if (cur_link)
                cur_link.className = "active";
            cur_id = id;
        }

        function redirect1(URL, id) {
            set_current(id);
            document.location.href = URL;
        }
        //function redirect2(URL, id) {
        //    set_current(id);
        //    window.open(URL, 'newwindow', '')
        //}
        function openForm(id) {
            set_current(id);
        }

    </script>


    <div id="tmplContainer__">
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-control" content="no-cache" />
        <meta http-equiv="Cache" content="no-cache" />

        <!--公司选择的指标--->
        <script type="text/x-jquery-tmpl" id="Tmpl_ddlTargetInfo">
            <option value="${$data}">${$data}</option>
        </script>
        <script type="text/x-jquery-tmpl" id="Tmpl_ddlYearInfo">
            <option value="${$data}">${$data}</option>
        </script>


        <script type="text/x-jquery-tmpl" id="Tmpl_ComprehensiveReportInfo">
            <tr>
                {{if SrowSpan_str!=undefined &&SrowSpan_str!=null && SrowSpan_str>0 }}
                <td class="Td_Center" rowspan="${SrowSpan_str}">${SystemName} </td>
                {{/if}}
                {{if TrowSpan_str!=undefined &&TrowSpan_str!=null && TrowSpan_str>0 }}
                <td class="Td_Center" rowspan="${TrowSpan_str}">${TargetName}</td>
                {{/if}}
                <td class="Td_Center">${FinYear}年 {{if TType ==0}}实际{{else}}指标{{/if}}  </td>
                <td class="Td_Center" title="${_1}">${_1.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_2}">${_2.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_3}">${_3.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_4}"> ${_4.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_5}">${_5.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_6}">${_6.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_7}">${_7.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_8}">${_8.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_9}">${_9.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_10}">${_10.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_11}">${_11.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${_12}">${_12.thousandize0OrEmpty(0)}</td>
                <td class="Td_Center" title="${(_1 + _2 + _3 + _4 + _5 + _6 + _7 + _8 + _9 + _10 + _11 + _12)}">${(_1 + _2 + _3 + _4 + _5 + _6 + _7 + _8 + _9 + _10 + _11 + _12).thousandize0OrEmpty(0)}</td>
            </tr>
        </script>


    </div>
</body>
</html>
